<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.task.StockTakingTaskDao" >

	<resultMap id="stockTakingTaskResultMap" type="StockTakingTask">
		<id property="id" column="id"/>
		<result property="taskId" column="task_id"/>
		<result property="takingId" column="taking_id"/>
		<result property="round" column="round"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="isValid" column="is_valid"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="StockTakingTask">
		insert into stock_taking_task (
			task_id,taking_id,round,created_at,updated_at,is_valid
    	) values (
			#{taskId},#{takingId},#{round},#{createdAt},#{updatedAt},#{isValid}
    	)
	</insert>

	<update id="update" parameterType="StockTakingTask">
		update stock_taking_task
    	<set>
  			<if test="taskId != null">task_id=#{taskId},</if>
  			<if test="takingId != null">taking_id=#{takingId},</if>
  			<if test="round != null">round=#{round},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
			<if test="isValid != null">is_valid=#{isValid}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getStockTakingTaskById" parameterType="Long" resultMap="stockTakingTaskResultMap">
		select * from stock_taking_task
		where task_id=#{taskId}
	</select>
  
	<select id="countStockTakingTask" parameterType="map" resultType="int">
		select count(*) from stock_taking_task
		<include refid="queryCondition"/>
	</select>
  
	<select id="getStockTakingTaskList" parameterType="map" resultMap="stockTakingTaskResultMap">
		select * from stock_taking_task
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="taskId != null">and task_id=#{taskId}</if>
			<if test="takingId != null">and taking_id=#{takingId}</if>
			<if test="round != null">and round=#{round}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="isValid != null">and is_valid=#{isValid}</if>
		</where>
	</sql>
   
</mapper>