<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.system.SysLogDao" >

	<resultMap id="sysLogResultMap" type="SysLog">
		<id property="id" column="id"/>
		<result property="logId" column="log_id"/>
		<result property="logType" column="log_type"/>
		<result property="targetSystem" column="target_system"/>
		<result property="logCode" column="log_code"/>
		<result property="logMessage" column="log_message"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="status" column="status"/>
		<result property="step" column="step"/>
		<result property="retryTimes" column="retry_times"/>
		<result property="sysCode" column="sys_code"/>
		<result property="sysMessage" column="sys_message"/>
		<result property="businessId" column="business_id"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="SysLog">
		insert into sys_log (
			log_id,log_type,target_system,log_code,log_message,created_at,updated_at,status,step,sys_code,sys_message,business_id,retry_times
    	) values (
			#{logId},#{logType},#{targetSystem},#{logCode},#{logMessage},#{createdAt},#{updatedAt},#{status},#{step},
			#{sysCode},#{sysMessage},#{businessId},#{retryTimes}
    	)
	</insert>

	<update id="update" parameterType="SysLog">
		update sys_log
    	<set>
			<if test="logId != null">log_id=#{logId},</if>
  			<if test="logType != null">log_type=#{logType},</if>
			<if test="targetSystem != null">target_system=#{targetSystem},</if>
  			<if test="logCode != null">log_code=#{logCode},</if>
  			<if test="logMessage != null">log_message=#{logMessage},</if>
			<if test="step != null">step=#{step},</if>
			<if test="status != null">status=#{status},</if>
			<if test="sysMessage != null">sys_message=#{sysMessage},</if>
			<if test="sysCode != null">sys_code=#{sysCode},</if>
			<if test="businessId != null">business_id=#{businessId},</if>
			<if test="retryTimes != null">retry_times=#{retryTimes},</if>
			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
  			<if test="createdAt != null">created_at=#{createdAt}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getSysLogById" parameterType="int" resultMap="sysLogResultMap">
		select * from sys_log
		where ID=#{id} 
	</select>
  
	<select id="countSysLog" parameterType="map" resultType="int">
		select count(*) from sys_log
		<include refid="queryCondition"/>
	</select>
  
	<select id="getSysLogList" parameterType="map" resultMap="sysLogResultMap">
		select * from sys_log
		<include refid="queryCondition"/>
		order by id desc
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>

	<select id="getTodoList" parameterType="map" resultMap="sysLogResultMap">
		select * from sys_log
		<where>
			log_type=#{logType}
			and ( (status = 0) or (status = 4 and retry_times &lt;= #{retryTimes}) )
		</where>
		<if test="start != null and limit != null">
			limit #{start},#{limit}
		</if>
	</select>

	<update id="lockSysLogList" parameterType="java.util.List">
		update sys_log set status = 1
		where log_id in
		<foreach collection="list" item="item" index="index" open="(" separator=","  close=")">
			#{item}
		</foreach>
	</update>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="logId != null">and log_id=#{logId}</if>
			<if test="logType != null">and log_type=#{logType}</if>
			<if test="targetSystem != null">and target_system=#{targetSystem}</if>
			<if test="logCode != null">and log_code=#{logCode}</if>
			<if test="logMessage != null">and log_message=#{logMessage}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatdAt != null">and updated_at=#{updatedAt}</if>
			<if test="sysCode != null">and sys_code=#{sysCode}</if>
			<if test="sysMessage != null">and sys_message=#{sysMessage}</if>
			<if test="businessId != null">and business_id=#{businessId}</if>
			<if test="retryTimes != null">and retry_times=#{retryTimes}</if>
			<if test="status != null">and status=#{status}</if>
			<if test="step != null">and step=#{step}</if>
		</where>
	</sql>
   
</mapper>