<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.system.SysUserDao" >

	<resultMap id="sysUserResultMap" type="SysUser">
		<id property="id" column="id"/>
		<result property="uid" column="uid"/>
		<result property="username" column="username"/>
		<result property="screenname" column="screenname"/>
		<result property="role" column="role"/>
		<result property="password" column="password"/>
		<result property="salt" column="salt"/>
		<result property="status" column="status"/>
		<result property="staffId" column="staff_id"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="SysUser">
		insert into sys_user (
			uid,username,screenname,password,salt,status,
			staff_id,created_at,updated_at,role
    	) values (
			#{uid},#{username},#{screenname},#{password},#{salt},#{status},
			#{staffId},#{createdAt},#{updatedAt},#{role}
    	)
	</insert>

	<update id="update" parameterType="SysUser">
		update sys_user
    	<set>
  			<if test="username != null">username=#{username},</if>
  			<if test="screenname != null">screenname=#{screenname},</if>
  			<if test="password != null">password=#{password},</if>
  			<if test="salt != null">salt=#{salt},</if>
  			<if test="status != null">status=#{status},</if>
  			<if test="staffId != null">staff_id=#{staffId},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
			<if test="role != null">role=#{role}</if>
		</set>
		where uid=#{uid}
	</update>
  
	<select id="getSysUserById" parameterType="int" resultMap="sysUserResultMap">
		select * from sys_user
		where ID=#{id} 
	</select>
  
	<select id="countSysUser" parameterType="map" resultType="int">
		select count(*) from sys_user
		<include refid="queryCondition"/>
	</select>
  
	<select id="getSysUserList" parameterType="map" resultMap="sysUserResultMap">
		select * from sys_user
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="uid != null">and uid=#{uid}</if>
			<if test="username != null">and username=#{username}</if>
			<if test="screenname != null">and screenname=#{screenname}</if>
			<if test="password != null">and password=#{password}</if>
			<if test="salt != null">and salt=#{salt}</if>
			<if test="status != null">and status=#{status}</if>
			<if test="staffId != null">and staff_id=#{staffId}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="role != null">and role=#{role}</if>
		</where>
	</sql>
   
</mapper>