<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.taking.StockTakingHeadDao" >

	<resultMap id="stockTakingHeadResultMap" type="StockTakingHead">
		<id property="id" column="id"/>
		<result property="takingId" column="taking_id"/>
		<result property="name" column="name"/>
		<result property="planner" column="planner"/>
		<result property="takingType" column="taking_type"/>
		<result property="viewType" column="view_type"/>
		<result property="clusterMethod" column="cluster_method"/>
		<result property="maxChkRnd" column="max_chk_rnd"/>
		<result property="date" column="date"/>
		<result property="status" column="status"/>
		<result property="supplierId" column="supplier_id"/>
		<result property="ownerId" column="owner_id"/>
		<result property="locationList" column="location_list"/>
		<result property="lotId" column="lot_id"/>
		<result property="skuId" column="sku_id"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="planType" column="plan_type"/>
		<result property="dueTime" column="due_time"/>
		<result property="areaId" column="area_id"/>
		<result property="itemId" column="item_id"/>
		<result property="storageId" column="storage_id"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="StockTakingHead">
		insert into stock_taking_head (
			taking_id,name,planner,taking_type,view_type,cluster_method,
			max_chk_rnd,date,status,supplier_id,owner_id,location_list,
			lot_id,sku_id,created_at,updated_at,plan_type,due_time,area_id,item_id,storage_id
    	) values (
			#{takingId},#{name},#{planner},#{takingType},#{viewType},#{clusterMethod},
			#{maxChkRnd},#{date},#{status},#{supplierId},#{ownerId},#{locationList},
			#{lotId},#{skuId},#{createdAt},#{updatedAt},#{planType},#{dueTime},#{areaId},#{itemId},#{storageId}
    	)
	</insert>

	<update id="update" parameterType="StockTakingHead">
		update stock_taking_head
    	<set>
  			<if test="takingId != null">taking_id=#{takingId},</if>
  			<if test="name != null">name=#{name},</if>
  			<if test="planner != null">planner=#{planner},</if>
  			<if test="takingType != null">taking_type=#{takingType},</if>
  			<if test="viewType != null">view_type=#{viewType},</if>
  			<if test="clusterMethod != null">cluster_method=#{clusterMethod},</if>
  			<if test="maxChkRnd != null">max_chk_rnd=#{maxChkRnd},</if>
  			<if test="date != null">date=#{date},</if>
  			<if test="status != null">status=#{status},</if>
  			<if test="supplierId != null">supplier_id=#{supplierId},</if>
  			<if test="ownerId != null">owner_id=#{ownerId},</if>
  			<if test="locationList != null">location_list=#{locationList},</if>
  			<if test="lotId != null">lot_id=#{lotId},</if>
  			<if test="skuId != null">sku_id=#{skuId},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
			<if test="planType != null">plan_type=#{planType},</if>
			<if test="dueTime != null">due_time=#{dueTime},</if>
			<if test="areaId != null">area_id=#{areaId},</if>
			<if test="itemId != null">item_id=#{itemId},</if>
			<if test="storageId !=null">storage_id=#{storageId}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getStockTakingHeadById" parameterType="long" resultMap="stockTakingHeadResultMap">
		select * from stock_taking_head
		where taking_id=#{takingId}
	</select>
  
	<select id="countStockTakingHead" parameterType="map" resultType="int">
		select count(*) from stock_taking_head
		<include refid="queryCondition"/>
	</select>
  
	<select id="getStockTakingHeadList" parameterType="map" resultMap="stockTakingHeadResultMap">
		select * from stock_taking_head
		<include refid="queryCondition"/>

		<if test="orderBy == null or orderType == null">
			ORDER BY  created_at DESC
		</if>
		<if test='"createdAt".equals(orderBy)  and "desc".equals(orderType)'>
			ORDER BY  created_at DESC
		</if>
		<if test=" 'status'.equals(orderBy)  and 'desc'.equals(orderType)">
			ORDER BY  status DESC
		</if>
		<if test=" 'createdAt'.equals(orderBy)  and 'asc'.equals(orderType)">
			ORDER BY  created_at ASC
		</if>
		<if test=" 'status'.equals(orderBy)  and  'asc'.equals(orderType)">
			ORDER BY  status ASC
		</if>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="takingId != null">and taking_id=#{takingId}</if>
			<if test="name != null">and name=#{name}</if>
			<if test="planner != null">and planner=#{planner}</if>
			<if test="takingType != null">and taking_type=#{takingType}</if>
			<if test="viewType != null">and view_type=#{viewType}</if>
			<if test="clusterMethod != null">and cluster_method=#{clusterMethod}</if>
			<if test="maxChkRnd != null">and max_chk_rnd=#{maxChkRnd}</if>
			<if test="date != null">and date=#{date}</if>
			<if test="status != null">and status=#{status}</if>
			<if test="supplierId != null">and supplier_id=#{supplierId}</if>
			<if test="ownerId != null">and owner_id=#{ownerId}</if>
			<if test="locationList != null">and location_list=#{locationList}</if>
			<if test="lotId != null">and lot_id=#{lotId}</if>
			<if test="skuId != null">and sku_id=#{skuId}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="createdAtAfter != null">and created_at&gt;=#{createdAtAfter}</if>
			<if test="createdAtBefore != null">and created_at&lt;=#{createdAtBefore}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="planType != null"> and plan_type=#{planType}</if>
			<if test="dueTime != null"> and due_time=#{dueTime}</if>
			<if test="areaId != null"> and area_id=#{areaId}</if>
			<if test="itemId != null"> and item_id=#{itemId}</if>
			<if test="storageId !=null"> and storage_id=#{storageId}</if>
			<if test="statusList != null">
				and status in
				<foreach collection="statusList"  item="item" index="index" open="(" separator=","  close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</sql>
   
</mapper>