<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.baseinfo.BaseinfoContainerDao" >

	<resultMap id="baseinfoContainerResultMap" type="BaseinfoContainer">
		<id property="id" column="id"/>
		<result property="containerId" column="container_id"/>
		<result property="containerCode" column="container_code"/>
		<result property="type" column="type"/>
		<result property="typeName" column="type_name"/>
		<result property="model" column="model"/>
		<result property="capacity" column="capacity"/>
		<result property="loadCapacity" column="load_capacity"/>
		<result property="status" column="status"/>
		<result property="description" column="description"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="BaseinfoContainer">
		insert into baseinfo_container (
			container_id,container_code,type,type_name,model,
			capacity,load_capacity,status,description,created_at,
			updated_at
    	) values (
			#{containerId},#{containerCode},#{type},#{typeName},#{model},
			#{capacity},#{loadCapacity},#{status},#{description},#{createdAt},
			#{updatedAt}
    	)
	</insert>

	<insert id="bachinsert"  parameterType="java.util.List">
		insert into baseinfo_container (
		container_id,container_code,type,type_name,model,
		capacity,load_capacity,status,description,created_at,
		updated_at
		)
		values
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.containerId},#{item.containerCode},#{item.type},#{item.typeName},#{item.model},
			#{item.capacity},#{item.loadCapacity},#{item.status},#{item.description},#{item.createdAt},
			#{item.updatedAt})
		</foreach>

	</insert>

	<update id="update" parameterType="BaseinfoContainer">
		update baseinfo_container
    	<set>
  			<if test="containerId != null">container_id=#{containerId},</if>
  			<if test="containerCode != null">container_code=#{containerCode},</if>
  			<if test="type != null">type=#{type},</if>
  			<if test="typeName != null">type_name=#{typeName},</if>
  			<if test="model != null">model=#{model},</if>
  			<if test="capacity != null">capacity=#{capacity},</if>
  			<if test="loadCapacity != null">load_capacity=#{loadCapacity},</if>
  			<if test="status != null">status=#{status},</if>
  			<if test="description != null">description=#{description},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getBaseinfoContainerById" parameterType="int" resultMap="baseinfoContainerResultMap">
		select * from baseinfo_container
		where ID=#{id} 
	</select>
  
	<select id="countBaseinfoContainer" parameterType="map" resultType="int">
		select count(*) from baseinfo_container
		<include refid="queryCondition"/>
	</select>
  
	<select id="getBaseinfoContainerList" parameterType="map" resultMap="baseinfoContainerResultMap">
		select * from baseinfo_container
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="containerId != null">and container_id=#{containerId}</if>
			<if test="containerCode != null">and container_code=#{containerCode}</if>
			<if test="type != null">and type=#{type}</if>
			<if test="typeName != null">and type_name=#{typeName}</if>
			<if test="model != null">and model=#{model}</if>
			<if test="capacity != null">and capacity=#{capacity}</if>
			<if test="loadCapacity != null">and load_capacity=#{loadCapacity}</if>
			<if test="status != null">and status=#{status}</if>
			<if test="description != null">and description=#{description}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
		</where>
	</sql>
   
</mapper>