<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.baseinfo.BaseinfoItemDao" >

	<resultMap id="baseinfoItemResultMap" type="BaseinfoItem">
		<id property="id" column="id"/>
		<result property="skuId" column="sku_id"/>
		<result property="ownerId" column="owner_id"/>
		<result property="skuCode" column="sku_code"/>
		<result property="skuName" column="sku_name"/>
		<result property="codeType" column="code_type"/>
		<result property="code" column="code"/>
		<result property="status" column="status"/>
		<result property="topCat" column="top_cat"/>
		<result property="secondCat" column="second_cat"/>
		<result property="thirdCat" column="third_cat"/>
		<result property="shelfLife" column="shelf_life"/>
		<result property="length" column="length"/>
		<result property="width" column="width"/>
		<result property="height" column="height"/>
		<result property="weight" column="weight"/>
		<result property="l2Length" column="l2_length"/>
		<result property="l2Width" column="l2_width"/>
		<result property="l2Height" column="l2_height"/>
		<result property="l2Weight" column="l2_weight"/>
		<result property="l2Unit" column="l2_unit"/>
		<result property="packLength" column="pack_length"/>
		<result property="packWidth" column="pack_width"/>
		<result property="packHeight" column="pack_height"/>
		<result property="packWeight" column="pack_weight"/>
		<result property="packUnit" column="pack_unit"/>
		<result property="saleUnit" column="sale_unit"/>
		<result property="itemLevel" column="item_level"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="producePlace" column="produce_place"/>
		<result property="batchNeeded" column="batch_needed"/>
		<result property="floorAvailable" column="floor_available"/>
		<result property="storageTemperature" column="storage_temperature"/>
		<result property="safetyQty" column="safety_qty"/>
		<result property="pileX" column="pile_x"/>
		<result property="pileY" column="pile_y"/>
		<result property="pileZ" column="pile_z"/>
		<result property="pileNumber" column="pile_number"/>
		<result property="itemId" column="item_id"/>
		<result property="unitName" column="unit_name"/>
		<result property="l2Name" column="l2_name"/>
		<result property="packName" column="pack_name"/>
		<result property="itemType" column="item_type"/>
		<result property="isValuable" column="is_valuable"/>
		<result property="isInfoIntact" column="is_info_intact"/>
		<result property="isShelfLifeValid" column="is_shelfLife_valid"/>
		<result property="isValid" column="is_valid"/>
		<result property="packCode" column="pack_code"/>

	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="BaseinfoItem">
		insert into baseinfo_item (
		sku_id,owner_id,sku_code,sku_name,code_type,code,
		top_cat,second_cat,third_cat,shelf_life,length,width,
		height,weight,l2_length,l2_width,l2_height,l2_weight,
		l2_unit,pack_length,pack_width,pack_height,pack_weight,pack_unit,
		sale_unit,item_level,created_at,updated_at,produce_place,batch_needed,
		floor_available,storage_temperature,safety_qty,pile_x,pile_y,pile_z,pile_number,
		item_id,status,unit_name,l2_name,pack_name,item_type,is_valuable,is_info_intact,is_shelfLife_valid,is_valid,pack_code
		) values (
		#{skuId},#{ownerId},#{skuCode},#{skuName},#{codeType},#{code},
		#{topCat},#{secondCat},#{thirdCat},#{shelfLife},#{length},#{width},
		#{height},#{weight},#{l2Length},#{l2Width},#{l2Height},#{l2Weight},
		#{l2Unit},#{packLength},#{packWidth},#{packHeight},#{packWeight},#{packUnit},
		#{saleUnit},#{itemLevel},#{createdAt},#{updatedAt},#{producePlace},#{batchNeeded},
		#{floorAvailable},#{storageTemperature},#{safetyQty},#{pileX},#{pileY},#{pileZ},#{pileNumber},
		#{itemId},#{status},#{unitName},#{l2Name},#{packName},#{itemType},#{isValuable},#{isInfoIntact},
		#{isShelfLifeValid},#{isValid},#{packCode}
		)
	</insert>

	<update id="update" parameterType="BaseinfoItem">
		update baseinfo_item
		<set>
			<if test="skuId != null">sku_id=#{skuId},</if>
			<if test="ownerId != null">owner_id=#{ownerId},</if>
			<if test="skuCode != null">sku_code=#{skuCode},</if>
			<if test="skuName != null">sku_name=#{skuName},</if>
			<if test="codeType != null">code_type=#{codeType},</if>
			<if test="code != null">code=#{code},</if>
			<if test="topCat != null">top_cat=#{topCat},</if>
			<if test="secondCat != null">second_cat=#{secondCat},</if>
			<if test="thirdCat != null">third_cat=#{thirdCat},</if>
			<if test="shelfLife != null">shelf_life=#{shelfLife},</if>
			<if test="length != null">length=#{length},</if>
			<if test="width != null">width=#{width},</if>
			<if test="height != null">height=#{height},</if>
			<if test="weight != null">weight=#{weight},</if>
			<if test="l2Length != null">l2_length=#{l2Length},</if>
			<if test="l2Width != null">l2_width=#{l2Width},</if>
			<if test="l2Height != null">l2_height=#{l2Height},</if>
			<if test="l2Weight != null">l2_weight=#{l2Weight},</if>
			<if test="l2Unit != null">l2_unit=#{l2Unit},</if>
			<if test="packLength != null">pack_length=#{packLength},</if>
			<if test="packWidth != null">pack_width=#{packWidth},</if>
			<if test="packHeight != null">pack_height=#{packHeight},</if>
			<if test="packWeight != null">pack_weight=#{packWeight},</if>
			<if test="packUnit != null">pack_unit=#{packUnit},</if>
			<if test="saleUnit != null">sale_unit=#{saleUnit},</if>
			<if test="itemLevel != null">item_level=#{itemLevel},</if>
			<if test="createdAt != null">created_at=#{createdAt},</if>
			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
			<if test="producePlace != null">produce_place=#{producePlace},</if>
			<if test="batchNeeded != null">batch_needed=#{batchNeeded},</if>
			<if test="floorAvailable != null">floor_available=#{floorAvailable},</if>
			<if test="storageTemperature != null">storage_temperature=#{storageTemperature},</if>
			<if test="safetyQty != null">safety_qty=#{safetyQty},</if>
			<if test="pileX != null">pile_x=#{pileX},</if>
			<if test="pileY != null">pile_y=#{pileY},</if>
			<if test="pileZ != null">pile_z=#{pileZ},</if>
			<if test="pileNumber != null">pile_number=#{pileNumber},</if>
			<if test="status != null">status=#{status},</if>
			<if test="unitName != null">unit_name=#{unitName},</if>
			<if test="l2Name != null">l2_name=#{l2Name},</if>
			<if test="packName != null">pack_name=#{packName},</if>
			<if test="itemType != null">item_type=#{itemType},</if>
			<if test="isValuable != null">is_valuable=#{isValuable},</if>
			<if test="isInfoIntact != null">is_info_intact=#{isInfoIntact},</if>
			<if test="isShelfLifeValid != null">is_shelfLife_valid=#{isShelfLifeValid},</if>
			<if test="packCode != null">pack_code=#{packCode},</if>
			<if test="isValid != null">is_valid=#{isValid}</if>
		</set>
		where item_id=#{itemId}
	</update>

	<select id="getBaseinfoItemById" parameterType="int" resultMap="baseinfoItemResultMap">
		select * from baseinfo_item
		where ID=#{id}
	</select>

	<select id="countBaseinfoItem" parameterType="map" resultType="int">
		select count(*) from baseinfo_item
		<include refid="queryCondition"/>
	</select>

	<select id="getBaseinfoItemList" parameterType="map" resultMap="baseinfoItemResultMap">
		select * from baseinfo_item
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
			limit #{start},#{limit}
		</if>
	</select>

	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="skuId != null">and sku_id=#{skuId}</if>
			<if test="ownerId != null">and owner_id=#{ownerId}</if>
			<if test="skuCode != null">and sku_code=#{skuCode}</if>
			<if test="skuCodeSearch != null">and sku_code like CONCAT('%',#{skuCodeSearch},'%' )</if>
			<if test="skuName != null">and sku_name like CONCAT('%',#{skuName},'%' )</if>
			<if test="codeType != null">and code_type=#{codeType}</if>
			<if test="code != null">and code=#{code}</if>
			<if test="topCat != null">and top_cat=#{topCat}</if>
			<if test="secondCat != null">and second_cat=#{secondCat}</if>
			<if test="thirdCat != null">and third_cat=#{thirdCat}</if>
			<if test="shelfLife != null">and shelf_life=#{shelfLife}</if>
			<if test="length != null">and length=#{length}</if>
			<if test="width != null">and width=#{width}</if>
			<if test="height != null">and height=#{height}</if>
			<if test="weight != null">and weight=#{weight}</if>
			<if test="l2Length != null">and l2_length=#{l2Length}</if>
			<if test="l2Width != null">and l2_width=#{l2Width}</if>
			<if test="l2Height != null">and l2_height=#{l2Height}</if>
			<if test="l2Weight != null">and l2_weight=#{l2Weight}</if>
			<if test="l2Unit != null">and l2_unit=#{l2Unit}</if>
			<if test="packLength != null">and pack_length=#{packLength}</if>
			<if test="packWidth != null">and pack_width=#{packWidth}</if>
			<if test="packHeight != null">and pack_height=#{packHeight}</if>
			<if test="packWeight != null">and pack_weight=#{packWeight}</if>
			<if test="packUnit != null">and pack_unit=#{packUnit}</if>
			<if test="saleUnit != null">and sale_unit=#{saleUnit}</if>
			<if test="itemLevel != null">and item_level=#{itemLevel}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="producePlace != null">and produce_place=#{producePlace}</if>
			<if test="batchNeeded != null">and batch_needed=#{batchNeeded}</if>
			<if test="floorAvailable != null">and floor_available=#{floorAvailable}</if>
			<if test="storageTemperature != null">and storage_temperature=#{storageTemperature}</if>
			<if test="safetyQty != null">and safety_qty=#{safetyQty}</if>
			<if test="pileX != null">and pile_x=#{pileX}</if>
			<if test="pileY != null">and pile_y=#{pileY}</if>
			<if test="pileZ != null">and pile_z=#{pileZ}</if>
			<if test="pileNumber != null">and pile_number=#{pileNumber}</if>
			<if test="itemId != null">and item_id=#{itemId}</if>
			<if test="status != null">and status=#{status}</if>
			<if test="unitName != null">and unit_name=#{unitName}</if>
			<if test="l2Name != null">and l2_name=#{l2Name}</if>
			<if test="packName != null">and pack_name=#{packName}</if>
			<if test="itemType != null">and item_type=#{itemType}</if>
			<if test="isValuable != null">and is_valuable=#{isValuable}</if>
			<if test="isInfoIntact != null">and is_info_intact=#{isInfoIntact}</if>
			<if test="isShelfLifeValid != null">and is_shelfLife_valid=#{isShelfLifeValid}</if>
			<if test="isValid != null">and is_valid=#{isValid}</if>
			<if test="packCode != null">and pack_code=#{packCode}</if>
			<if test="itemIdList != null">
				and item_id in
				<foreach collection="itemIdList"  item="item" index="index" open="(" separator=","  close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</sql>

</mapper>