<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.baseinfo.ItemSkuRelationDao" >

	<resultMap id="itemSkuRelationResultMap" type="ItemSkuRelation">
		<id property="id" column="id"/>
		<result property="itemId" column="item_id"/>
		<result property="skuId" column="sku_id"/>
		<result property="ownerId" column="owner_id"/>
		<result property="isValid" column="is_valid"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ItemSkuRelation">
		insert into item_sku_relation (
			item_id,sku_id,owner_id,is_valid,created_at,updated_at
    	) values (
			#{itemId},#{skuId},#{ownerId},#{isValid},#{createdAt},#{updatedAt}
    	)
	</insert>

	<update id="update" parameterType="ItemSkuRelation">
		update item_sku_relation
    	<set>
  			<if test="itemId != null">item_id=#{itemId},</if>
  			<if test="skuId != null">sku_id=#{skuId},</if>
  			<if test="ownerId != null">owner_id=#{ownerId},</if>
			<if test="createdAt != null">created_at=#{createdAt},</if>
			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
  			<if test="isValid != null">is_valid=#{isValid}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getItemSkuRelationById" parameterType="int" resultMap="itemSkuRelationResultMap">
		select * from item_sku_relation
		where ID=#{id} 
	</select>
  
	<select id="countItemSkuRelation" parameterType="map" resultType="int">
		select count(*) from item_sku_relation
		<include refid="queryCondition"/>
	</select>
  
	<select id="getItemSkuRelationList" parameterType="map" resultMap="itemSkuRelationResultMap">
		select * from item_sku_relation
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="itemId != null">and item_id=#{itemId}</if>
			<if test="skuId != null">and sku_id=#{skuId}</if>
			<if test="ownerId != null">and owner_id=#{ownerId}</if>
			<if test="isValid != null">and is_valid=#{isValid}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
		</where>
	</sql>
   
</mapper>