<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.so.ObdDetailDao" >

	<resultMap id="obdDetailResultMap" type="ObdDetail">
		<id property="id" column="id"/>
		<result property="detailOtherId" column="detail_other_id"/>
		<result property="orderId" column="order_id"/>
		<result property="skuId" column="sku_id"/>
		<result property="itemId" column="item_id"/>
		<result property="skuCode" column="sku_code"/>
		<result property="skuName" column="sku_name"/>
		<result property="orderQty" column="order_qty"/>
		<result property="oriOrderQty" column="ori_order_qty"/>
		<result property="unitQty" column="unit_qty"/>
		<result property="packUnit" column="pack_unit"/>
		<result property="packName" column="pack_name"/>
		<result property="unitName" column="unit_name"/>
		<result property="releaseQty" column="release_qty"/>
		<result property="price" column="price"/>
		<result property="sowQty" column="sow_qty"/>
		<result property="lotCode" column="lot_code"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ObdDetail">
		insert into obd_detail (
		detail_other_id,order_id,item_id,sku_id,sku_code,sku_name,order_qty,ori_order_qty,unit_qty,
		pack_unit,pack_name,unit_name,price,lot_code,created_at,sow_qty,
		updated_at
		) values (
		#{detailOtherId},#{orderId},#{itemId},#{skuId},#{skuCode},#{skuName},#{orderQty},#{unitQty},
		#{packUnit},#{packName},#{unitName},#{price},#{lotCode},#{createdAt},#{sowQty},
		#{updatedAt}
		)
	</insert>

	<insert id="batchInsert" parameterType="java.util.List">
		insert into obd_detail (
		detail_other_id,order_id,item_id,sku_id,sku_code,sku_name,order_qty,ori_order_qty,unit_qty,
		pack_unit,pack_name,unit_name,price,lot_code,created_at,sow_qty, updated_at
		) values
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.detailOtherId},#{item.orderId},#{item.itemId},#{item.skuId},#{item.skuCode},#{item.skuName},#{item.orderQty},#{item.oriOrderQty},#{item.unitQty},
			#{item.packUnit},#{item.packName},#{item.unitName},#{item.price},#{item.lotCode},#{item.createdAt},#{item.sowQty},#{item.updatedAt})
		</foreach>
	</insert>

	<update id="update" parameterType="ObdDetail">
		update obd_detail
		<set>
			<if test="detailOtherId != null">detail_other_id=#{detailOtherId},</if>
			<if test="orderId != null">order_id=#{orderId},</if>
			<if test="skuCode != null">item_id=#{itemId},</if>
			<if test="skuCode != null">sku_id=#{skuId},</if>
			<if test="skuCode != null">sku_code=#{skuCode},</if>
			<if test="skuName != null">sku_name=#{skuName},</if>
			<if test="orderQty != null">order_qty=#{orderQty},</if>
			<if test="oriOrderQty != null">ori_order_qty=#{oriOrderQty},</if>
			<if test="unitQty != null">unit_qty=#{unitQty},</if>
			<if test="packUnit != null">pack_unit=#{packUnit},</if>
			<if test="packName != null">pack_name=#{packName},</if>
			<if test="unitName != null">unit_name=#{unitName},</if>
			<if test="price != null">price=#{price},</if>
			<if test="releaseQty != null">release_qty=#{releaseQty},</if>
			<if test="sowQty != null">sow_qty=#{sowQty},</if>
			<if test="lotCode != null">lot_code=#{lotCode},</if>
			<if test="createdAt != null">created_at=#{createdAt},</if>
			<if test="updatedAt != null">updated_at=#{updatedAt}</if>
		</set>
		where id=#{id}
	</update>

	<select id="getObdDetailById" parameterType="int" resultMap="obdDetailResultMap">
		select * from obd_detail
		where ID=#{id}
	</select>

	<select id="countObdDetail" parameterType="map" resultType="int">
		select count(*) from obd_detail
		<include refid="queryCondition"/>
	</select>

	<select id="getObdDetailList" parameterType="map" resultMap="obdDetailResultMap">
		select * from obd_detail
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
			limit #{start},#{limit}
		</if>
	</select>

	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="detailOtherId != null">and detail_other_id=#{detailOtherId}</if>
			<if test="orderId != null">and order_id=#{orderId}</if>
			<if test="itemId != null">and item_id=#{itemId}</if>
			<if test="skuId != null">and sku_id=#{skuId}</if>
			<if test="skuCode != null">and sku_code=#{skuCode}</if>
			<if test="skuName != null">and sku_name=#{skuName}</if>
			<if test="orderQty != null">and order_qty=#{orderQty}</if>
			<if test="oriOrderQty != null">and ori_order_qty=#{oriOrderQty}</if>
			<if test="unitQty != null">and unit_qty=#{unitQty}</if>
			<if test="packUnit != null">and pack_unit=#{packUnit}</if>
			<if test="packName != null">and pack_name=#{packName}</if>
			<if test="unitName != null">and unit_name=#{unitName}</if>
			<if test="price != null">and price=#{price}</if>
			<if test="sowQty != null">and sow_qty=#{sowQty}</if>
			<if test="lotCode != null">and lot_code=#{lotCode}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
		</where>
	</sql>

	<update id="increaseReleaseQty" parameterType="ObdDetail">
		update obd_detail
		SET release_qty=release_qty + #{releaseQty}
		where order_id=#{orderId} AND detail_other_id=#{detailOtherId}
	</update>

</mapper>