<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.so.ObdHeaderDao" >

	<resultMap id="obdHeaderResultMap" type="ObdHeader">
		<id property="id" column="id"/>
		<result property="orderId" column="order_id"/>
		<result property="orderOtherRefId" column="order_other_ref_id"/>
		<result property="orderOtherId" column="order_other_id"/>
		<result property="orderUserCode" column="order_user_code"/>
		<result property="orderUser" column="order_user"/>
		<result property="deliveryName" column="delivery_name"/>
		<result property="deliveryCode" column="delivery_code"/>
		<result property="ownerUid" column="owner_uid"/>
		<result property="orderType" column="order_type"/>
		<result property="waveOrderType" column="wave_order_type" />
		<result property="waveId" column="wave_id"/>
		<result property="transPlan" column="trans_plan"/>
		<result property="waveIndex" column="wave_index"/>
		<result property="transTime" column="trans_time"/>
		<result property="orderStatus" column="order_status"/>
		<result property="deliveryAddrs" column="delivery_addrs"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="supplierNo" column="supplier_no"/>
		<result property="isClosed" column="is_closed"/>
		<result property="telephone" column="telephone"/>
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ObdHeader">
		insert into obd_header (
		order_id,order_other_ref_id,order_other_id,order_user_code,order_user,delivery_name,
		delivery_code,owner_uid,order_type,wave_order_type,wave_id,trans_plan,wave_index,
		trans_time,order_status,delivery_addrs,created_at,updated_at,supplier_no,is_closed,telephone
		) values (
		#{orderId},#{orderOtherRefId},#{orderOtherId},#{orderUserCode},#{orderUser},#{deliveryName},
		#{deliveryCode},#{ownerUid},#{orderType},#{waveOrderType},#{waveId},#{transPlan},#{waveIndex},
		#{transTime},#{orderStatus},#{deliveryAddrs},#{createdAt},#{updatedAt},#{supplierNo},#{isClosed},#{telephone}
		)
	</insert>

	<update id="update" parameterType="ObdHeader">
		update obd_header
		<set>
			<if test="orderId != null">order_id=#{orderId},</if>
			<if test="orderOtherRefId != null">order_other_ref_id=#{orderOtherRefId},</if>
			<if test="orderOtherId != null">order_other_id=#{orderOtherId},</if>
			<if test="orderUserCode != null">order_user_code=#{orderUserCode},</if>
			<if test="orderUser != null">order_user=#{orderUser},</if>
			<if test="deliveryName != null">delivery_name=#{deliveryName},</if>
			<if test="deliveryCode != null">delivery_code=#{deliveryCode},</if>
			<if test="ownerUid != null">owner_uid=#{ownerUid},</if>
			<if test="orderType != null">order_type=#{orderType},</if>
			<if test="waveOrderType != null">wave_order_type=#{waveOrderType},</if>
			<if test="waveId != null">wave_id=#{waveId},</if>
			<if test="transPlan != null">trans_plan=#{transPlan},</if>
			<if test="waveIndex != null">wave_index=#{waveIndex},</if>
			<if test="transTime != null">trans_time=#{transTime},</if>
			<if test="orderStatus != null">order_status=#{orderStatus},</if>
			<if test="deliveryAddrs != null">delivery_addrs=#{deliveryAddrs},</if>
			<if test="createdAt != null">created_at=#{createdAt},</if>
			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
			<if test="isClosed  != null">is_closed=#{isClosed},</if>
			<if test="supplierNo != null">supplier_no=#{supplierNo},</if>
			<if test="telephone != null">telephone=#{telephone}</if>
		</set>
		where id=#{id}
	</update>

	<update id="updateByOrderOtherIdOrOrderId" parameterType="ObdHeader">
		update obd_header
		<set>
			<if test="orderId != null">order_id=#{orderId},</if>
			<if test="orderOtherRefId != null">order_other_ref_id=#{orderOtherRefId},</if>
			<if test="orderOtherId != null">order_other_id=#{orderOtherId},</if>
			<if test="orderUserCode != null">order_user_code=#{orderUserCode},</if>
			<if test="orderUser != null">order_user=#{orderUser},</if>
			<if test="deliveryName != null">delivery_name=#{deliveryName},</if>
			<if test="deliveryCode != null">delivery_code=#{deliveryCode},</if>
			<if test="ownerUid != null">owner_uid=#{ownerUid},</if>
			<if test="orderType != null">order_type=#{orderType},</if>
			<if test="waveOrderType != null">wave_order_type=#{waveOrderType},</if>
			<if test="waveId != null">wave_id=#{waveId},</if>
			<if test="transPlan != null">trans_plan=#{transPlan},</if>
			<if test="waveIndex != null">wave_index=#{waveIndex},</if>
			<if test="transTime != null">trans_time=#{transTime},</if>
			<if test="orderStatus != null">order_status=#{orderStatus},</if>
			<if test="deliveryAddrs != null">delivery_addrs=#{deliveryAddrs},</if>
			<if test="createdAt != null">created_at=#{createdAt},</if>
			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
			<if test="isClosed  != null">is_closed=#{isClosed},</if>
			<if test="supplierNo != null">supplier_no=#{supplierNo},</if>
			<if test="telephone != null">telephone=#{telephone}</if>
		</set>
		where order_other_id=#{orderOtherId} OR order_id=#{orderId}
	</update>

	<select id="getObdHeaderById" parameterType="int" resultMap="obdHeaderResultMap">
		select * from obd_header
		where id=#{id}
	</select>

	<select id="lockObdHeaderByOrderId" parameterType="long" resultMap="obdHeaderResultMap">
		select * from obd_header
		where order_id=#{orderId} for update
	</select>

	<select id="countObdHeader" parameterType="map" resultType="int">
		select count(*) from obd_header
		<include refid="queryCondition"/>
	</select>

	<select id="getObdHeaderList" parameterType="map" resultMap="obdHeaderResultMap">
		select * from obd_header
		<include refid="queryCondition"/>
		ORDER BY id DESC
		<if test="start != null and limit != null">
			limit #{start},#{limit}
		</if>
	</select>

	<select id="getSoKanBanCount" parameterType="Long" resultType="java.util.HashMap">
		select COUNT(id) SONUM,order_status from obd_header
		where order_type=#{orderType} and to_days(created_at) = to_days(now())
		group by order_status
	</select>


	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="orderId != null">and order_id=#{orderId}</if>
			<if test="orderOtherRefId != null">and order_other_ref_id=#{orderOtherRefId}</if>
			<if test="orderOtherId != null">and order_other_id=#{orderOtherId}</if>
			<if test="orderUserCode != null">and order_user_code=#{orderUserCode}</if>
			<if test="orderUser != null">and order_user=#{orderUser}</if>
			<if test="deliveryName != null">and delivery_name=#{deliveryName}</if>
			<if test="deliveryCode != null">and delivery_code=#{deliveryCode}</if>
			<if test="ownerUid != null">and owner_uid=#{ownerUid}</if>
			<if test="orderType != null">and order_type=#{orderType}</if>
			<if test="waveOrderType != null">and wave_order_type=#{waveOrderType}</if>
			<if test="waveId != null">and wave_id=#{waveId}</if>
			<if test="transPlan != null">and trans_plan=#{transPlan}</if>
			<if test="waveIndex != null">and wave_index=#{waveIndex}</if>
			<if test="transTime != null">and trans_time=#{transTime}</if>
			<if test="orderStatus != null">and order_status=#{orderStatus}</if>
			<if test="deliveryAddrs != null">and delivery_addrs=#{deliveryAddrs}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="createdAtAfter != null">and created_at&gt;=#{createdAtAfter}</if>
			<if test="createdAtBefore != null">and created_at&lt;=#{createdAtBefore}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="supplierNo != null">and supplier_no=#{supplierNo}</if>
			<if test="isClosed != null">and is_closed=#{isClosed}</if>
			<if test="telephone != null">and telephone=#{telephone}</if>
		</where>
	</sql>

</mapper>