<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.so.OutbDeliveryHeaderDao" >

	<resultMap id="outbDeliveryHeaderResultMap" type="OutbDeliveryHeader">
		<id property="id" column="ID"/>
		<result property="warehouseId" column="WAREHOUSE_ID"/>
		<result property="deliveryId" column="DELIVERY_ID"/>
		<result property="orderId" column="ORDER_ID"/>
		<result property="tuId" column="TU_ID"/>
		<result property="shippingAreaCode" column="SHIPPING_AREA_CODE"/>
		<result property="waveId" column="WAVE_ID"/>
		<result property="transPlan" column="TRANS_PLAN"/>
		<result property="transTime" column="TRANS_TIME"/>
		<result property="deliveryCode" column="DELIVERY_CODE"/>
		<result property="deliveryUser" column="DELIVERY_USER"/>
		<result property="deliveryType" column="DELIVERY_TYPE"/>
		<result property="deliveryTime" column="DELIVERY_TIME"/>
		<result property="boxNum" column="BOX_NUM"/>
		<result property="turnoverBoxNum" column="TURNOVER_BOX_NUM"/>
		<result property="insertby" column="INSERTBY"/>
		<result property="updateby" column="UPDATEBY"/>
		<result property="inserttime" column="INSERTTIME"/>
		<result property="updatetime" column="UPDATETIME"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="OutbDeliveryHeader">
		insert into OUTB_DELIVERY_HEADER (
			WAREHOUSE_ID,DELIVERY_ID,ORDER_ID,TU_ID,SHIPPING_AREA_CODE,WAVE_ID,TRANS_PLAN,TRANS_TIME,DELIVERY_CODE,
			DELIVERY_USER,DELIVERY_TYPE,DELIVERY_TIME,BOX_NUM,TURNOVER_BOX_NUM,INSERTBY,UPDATEBY,INSERTTIME,
			UPDATETIME
    	) values (
			#{warehouseId},#{deliveryId},#{orderId},#{tuId},#{shippingAreaCode},#{waveId},#{transPlan},#{transTime},#{deliveryCode},
			#{deliveryUser},#{deliveryType},#{deliveryTime},#{boxNum},#{turnoverBoxNum},#{insertby},#{updateby},#{inserttime},
			#{updatetime}
    	)
	</insert>

	<update id="update" parameterType="OutbDeliveryHeader">
		update OUTB_DELIVERY_HEADER
    	<set>
  			<if test="warehouseId != null">WAREHOUSE_ID=#{warehouseId},</if>
			<if test="deliveryId != null">DELIVERY_ID=#{deliveryId},</if>
			<if test="orderId != null">ORDER_ID=#{orderId},</if>
			<if test="tuId != null">TU_ID=#{tuId},</if>
  			<if test="shippingAreaCode != null">SHIPPING_AREA_CODE=#{shippingAreaCode},</if>
  			<if test="waveId != null">WAVE_ID=#{waveId},</if>
  			<if test="transPlan != null">TRANS_PLAN=#{transPlan},</if>
  			<if test="transTime != null">TRANS_TIME=#{transTime},</if>
  			<if test="deliveryCode != null">DELIVERY_CODE=#{deliveryCode},</if>
  			<if test="deliveryUser != null">DELIVERY_USER=#{deliveryUser},</if>
  			<if test="deliveryType != null">DELIVERY_TYPE=#{deliveryType},</if>
  			<if test="deliveryTime != null">DELIVERY_TIME=#{deliveryTime},</if>
			<if test="boxNum != null">BOX_NUM=#{boxNum},</if>
			<if test="turnoverBoxNum != null">TURNOVER_BOX_NUM=#{turnoverBoxNum},</if>
  			<if test="insertby != null">INSERTBY=#{insertby},</if>
  			<if test="updateby != null">UPDATEBY=#{updateby},</if>
  			<if test="inserttime != null">INSERTTIME=#{inserttime},</if>
  			<if test="updatetime != null">UPDATETIME=#{updatetime}</if>
		</set>
		where ID=#{id}
	</update>

	<update id="updateByDeliveryId" parameterType="OutbDeliveryHeader">
		update OUTB_DELIVERY_HEADER
		<set>
			<if test="warehouseId != null">WAREHOUSE_ID=#{warehouseId},</if>
			<if test="shippingAreaCode != null">SHIPPING_AREA_CODE=#{shippingAreaCode},</if>
			<if test="waveId != null">WAVE_ID=#{waveId},</if>
			<if test="transPlan != null">TRANS_PLAN=#{transPlan},</if>
			<if test="transTime != null">TRANS_TIME=#{transTime},</if>
			<if test="deliveryCode != null">DELIVERY_CODE=#{deliveryCode},</if>
			<if test="deliveryUser != null">DELIVERY_USER=#{deliveryUser},</if>
			<if test="deliveryType != null">DELIVERY_TYPE=#{deliveryType},</if>
			<if test="deliveryTime != null">DELIVERY_TIME=#{deliveryTime},</if>
			<if test="boxNum != null">BOX_NUM=#{boxNum},</if>
			<if test="turnoverBoxNum != null">TURNOVER_BOX_NUM=#{turnoverBoxNum},</if>
			<if test="insertby != null">INSERTBY=#{insertby},</if>
			<if test="updateby != null">UPDATEBY=#{updateby},</if>
			<if test="inserttime != null">INSERTTIME=#{inserttime},</if>
			<if test="updatetime != null">UPDATETIME=#{updatetime}</if>
		</set>
		where DELIVERY_ID=#{deliveryId}
	</update>
  
	<select id="getOutbDeliveryHeaderById" parameterType="int" resultMap="outbDeliveryHeaderResultMap">
		select * from OUTB_DELIVERY_HEADER
		where ID=#{id} 
	</select>
  
	<select id="countOutbDeliveryHeader" parameterType="map" resultType="int">
		select count(*) from OUTB_DELIVERY_HEADER
		<include refid="queryCondition"/>
	</select>
  
	<select id="getOutbDeliveryHeaderList" parameterType="map" resultMap="outbDeliveryHeaderResultMap">
		select * from OUTB_DELIVERY_HEADER
		<include refid="queryCondition"/>
		ORDER BY ID DESC
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">ID=#{id}</if>
			<if test="warehouseId != null">and WAREHOUSE_ID=#{warehouseId}</if>
			<if test="deliveryId != null">and DELIVERY_ID=#{deliveryId}</if>
			<if test="orderId != null">and ORDER_ID=#{orderId}</if>
			<if test="tuId != null">and TU_ID=#{tuId}</if>
			<if test="shippingAreaCode != null">and SHIPPING_AREA_CODE=#{shippingAreaCode}</if>
			<if test="waveId != null">and WAVE_ID=#{waveId}</if>
			<if test="transPlan != null">and TRANS_PLAN=#{transPlan}</if>
			<if test="transTime != null">and TRANS_TIME=#{transTime}</if>
			<if test="deliveryCode != null">and DELIVERY_CODE=#{deliveryCode}</if>
			<if test="deliveryUser != null">and DELIVERY_USER=#{deliveryUser}</if>
			<if test="deliveryType != null">and DELIVERY_TYPE=#{deliveryType}</if>
			<if test="deliveryTime != null">and DELIVERY_TIME=#{deliveryTime}</if>
			<if test="deliveryTimeAfter != null">and DELIVERY_TIME&gt;=#{deliveryTimeAfter}</if>
			<if test="deliveryTimeBefore != null">and DELIVERY_TIME&lt;=#{deliveryTimeBefore}</if>
			<if test="insertby != null">and INSERTBY=#{insertby}</if>
			<if test="updateby != null">and UPDATEBY=#{updateby}</if>
			<if test="inserttime != null">and INSERTTIME=#{inserttime}</if>
			<if test="updatetime != null">and UPDATETIME=#{updatetime}</if>
		</where>
	</sql>
   
</mapper>