<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.so.OutbDeliveryDetailDao" >

	<resultMap id="outbDeliveryDetailResultMap" type="OutbDeliveryDetail">
		<id property="id" column="ID"/>
		<result property="deliveryId" column="DELIVERY_ID"/>
		<result property="orderId" column="ORDER_ID"/>
		<result property="refDetailOtherId" column="REF_DETAIL_OTHER_ID"/>
		<result property="itemId" column="ITEM_ID"/>
		<result property="skuId" column="SKU_ID"/>
		<result property="skuName" column="SKU_NAME"/>
		<result property="barCode" column="BAR_CODE"/>
		<result property="orderQty" column="ORDER_QTY"/>
		<result property="packUnit" column="PACK_UNIT"/>
		<result property="lotNum" column="LOT_NUM"/>
		<result property="lotId" column="LOT_ID"/>
		<result property="backStatus" column="BACK_STATUS"/>
		<result property="deliveryNum" column="DELIVERY_NUM"/>
		<result property="insertby" column="INSERTBY"/>
		<result property="updateby" column="UPDATEBY"/>
		<result property="inserttime" column="INSERTTIME"/>
		<result property="updatetime" column="UPDATETIME"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="OutbDeliveryDetail">
		insert into OUTB_DELIVERY_DETAIL (
			DELIVERY_ID,ORDER_ID,REF_DETAIL_OTHER_ID,ITEM_ID,SKU_ID,SKU_NAME,BAR_CODE,
			ORDER_QTY,PACK_UNIT,LOT_NUM,DELIVERY_NUM,INSERTBY,UPDATEBY,
			INSERTTIME,UPDATETIME,LOT_ID,BACK_STATUS
    	) values (
			#{deliveryId},#{orderId},#{refDetailOtherId},#{itemId},#{skuId},#{skuName},#{barCode},
			#{orderQty},#{packUnit},#{lotNum},#{deliveryNum},#{insertby},#{updateby},
			#{inserttime},#{updatetime},#{lotId},#{backStatus}
    	)
	</insert>

	<insert id="batchInsert" parameterType="java.util.List">
		insert into OUTB_DELIVERY_DETAIL (
		DELIVERY_ID,ORDER_ID,REF_DETAIL_OTHER_ID,ITEM_ID,SKU_ID,SKU_NAME,BAR_CODE,
		ORDER_QTY,PACK_UNIT,LOT_NUM,DELIVERY_NUM,INSERTBY,UPDATEBY,
		INSERTTIME,UPDATETIME,LOT_ID,BACK_STATUS
		) values
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.deliveryId},#{item.orderId},#{item.refDetailOtherId},#{item.itemId},#{item.skuId},#{item.skuName},#{item.barCode},
			#{item.orderQty},#{item.packUnit},#{item.lotNum},#{item.deliveryNum},#{item.insertby},#{item.updateby},
			now(),#{item.updatetime},#{item.lotId},#{item.backStatus})
		</foreach>
	</insert>

	<update id="update" parameterType="OutbDeliveryDetail">
		update OUTB_DELIVERY_DETAIL
    	<set>
  			<if test="deliveryId != null">DELIVERY_ID=#{deliveryId},</if>
			<if test="refDetailOtherId != null">REF_DETAIL_OTHER_ID=#{refDetailOtherId},</if>
  			<if test="orderId != null">ORDER_ID=#{orderId},</if>
  			<if test="itemId != null">ITEM_ID=#{itemId},</if>
  			<if test="skuId != null">SKU_ID=#{skuId},</if>
  			<if test="skuName != null">SKU_NAME=#{skuName},</if>
  			<if test="barCode != null">BAR_CODE=#{barCode},</if>
  			<if test="orderQty != null">ORDER_QTY=#{orderQty},</if>
  			<if test="packUnit != null">PACK_UNIT=#{packUnit},</if>
  			<if test="lotNum != null">LOT_NUM=#{lotNum},</if>
			<if test="lotId != null">LOT_ID=#{lotId},</if>
			<if test="backStatus != null">BACK_STATUS=#{backStatus},</if>
  			<if test="deliveryNum != null">DELIVERY_NUM=#{deliveryNum},</if>
  			<if test="insertby != null">INSERTBY=#{insertby},</if>
  			<if test="updateby != null">UPDATEBY=#{updateby},</if>
  			<if test="inserttime != null">INSERTTIME=#{inserttime},</if>
  			<if test="updatetime != null">UPDATETIME=#{updatetime}</if>
		</set>
		where ID=#{id}
	</update>
  
	<select id="getOutbDeliveryDetailById" parameterType="int" resultMap="outbDeliveryDetailResultMap">
		select * from OUTB_DELIVERY_DETAIL
		where ID=#{id} 
	</select>

	<select id="getOutbDeliveryQtyByItemIdAndTime" parameterType="map" resultType="long">
		select sum(DELIVERY_NUM) from OUTB_DELIVERY_DETAIL
		<include refid="queryCondition"/>
	</select>
  
	<select id="countOutbDeliveryDetail" parameterType="map" resultType="int">
		select count(*) from OUTB_DELIVERY_DETAIL
		<include refid="queryCondition"/>
	</select>
  
	<select id="getOutbDeliveryDetailList" parameterType="map" resultMap="outbDeliveryDetailResultMap">
		select * from OUTB_DELIVERY_DETAIL
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
	<select id="getOutbDeliveryDetailListById" parameterType="java.util.List" resultMap="outbDeliveryDetailResultMap">
		select * from OUTB_DELIVERY_DETAIL
		where
		<foreach collection="list" item="item" index="index" separator=" or" >
			DELIVERY_ID = #{item}
		</foreach>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">ID=#{id}</if>
			<if test="deliveryId != null">and DELIVERY_ID=#{deliveryId}</if>
			<if test="refDetailOtherId != null">and REF_DETAIL_OTHER_ID=#{refDetailOtherId}</if>
			<if test="orderId != null">and ORDER_ID=#{orderId}</if>
			<if test="itemId != null">and ITEM_ID=#{itemId}</if>
			<if test="skuId != null">and SKU_ID=#{skuId}</if>
			<if test="skuName != null">and SKU_NAME=#{skuName}</if>
			<if test="barCode != null">and BAR_CODE=#{barCode}</if>
			<if test="orderQty != null">and ORDER_QTY=#{orderQty}</if>
			<if test="packUnit != null">and PACK_UNIT=#{packUnit}</if>
			<if test="lotNum != null">and LOT_NUM=#{lotNum}</if>
			<if test="lotId != null">and LOT_ID=#{lotId}</if>
			<if test="backStatus != null">and BACK_STATUS=#{backStatus}</if>
			<if test="deliveryNum != null">and DELIVERY_NUM=#{deliveryNum}</if>
			<if test="insertby != null">and INSERTBY=#{insertby}</if>
			<if test="updateby != null">and UPDATEBY=#{updateby}</if>
			<if test="inserttime != null">and INSERTTIME=#{inserttime}</if>
			<if test="updatetime != null">and UPDATETIME=#{updatetime}</if>
			<if test="timeObj != null">
				<![CDATA[
      					and date(UPDATETIME) between ${timeObj.getBeginTime()} and  ${timeObj.getEndTime()}
				]]>
			</if>
		</where>
	</sql>
   
</mapper>