<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.pick.PickModelDao" >

	<resultMap id="pickModelResultMap" type="PickModel">
		<id property="id" column="id"/>
		<result property="pickModelId" column="pick_model_id"/>
		<result property="isValid" column="is_valid"/>
		<result property="pickModelTemplate" column="pick_model_template"/>
		<result property="pickZoneId" column="pick_zone_id"/>
		<result property="pickType" column="pick_type"/>
		<result property="pickUnit" column="pick_unit"/>
		<result property="pickModel" column="pick_model"/>
		<result property="pickWeight" column="pick_weight"/>
		<result property="containerType" column="container_type"/>
		<result property="containerUnitCapacity" column="container_unit_capacity"/>
		<result property="containerCapacityCm3" column="container_capacity_cm3"/>
		<result property="containerNumPerTask" column="container_num_per_task"/>
		<result property="strategyWholePallet" column="strategy_whole_pallet"/>
		<result property="strategyWholePackage" column="strategy_whole_package"/>
		<result property="fpmrSetGroupFalg" column="fpmr_set_group_falg"/>
		<result property="fpmrBigItemThreshold" column="fpmr_big_item_threshold"/>
		<result property="fpmrSetFlag" column="fpmr_set_flag"/>
		<result property="fpmrSmallItemThreshold" column="fpmr_small_item_threshold"/>
		<result property="fpmrSowMethod" column="fpmr_sow_method"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="PickModel">
		insert into pick_model (
			pick_model_id,pick_model_template,pick_zone_id,pick_type,pick_unit,pick_model,pick_weight,container_type,
			container_unit_capacity,container_capacity_cm3,container_num_per_task,strategy_whole_pallet,strategy_whole_package,fpmr_set_group_falg,fpmr_big_item_threshold,fpmr_set_flag,fpmr_small_item_threshold,
			fpmr_sow_method
    	) values (
			#{pickModelId},#{pickModelTemplate},#{pickZoneId},#{pickType},#{pickUnit},#{pickModel},#{pickWeight},#{containerType},
			#{containerUnitCapacity},#{containerCapacityCm3},#{containerNumPerTask},#{strategyWholePallet},#{strategyWholePackage},#{fpmrSetGroupFalg},#{fpmrBigItemThreshold},#{fpmrSetFlag},#{fpmrSmallItemThreshold},
			#{fpmrSowMethod}
    	)
	</insert>

	<update id="update" parameterType="PickModel">
		update pick_model
    	<set>
			<if test="isValid != null">is_valid=#{isValid},</if>
  			<if test="pickZoneId != null">pick_zone_id=#{pickZoneId},</if>
			<if test="pickType != null">pick_type=#{pickType},</if>
			<if test="pickUnit != null">pick_unit=#{pickUnit},</if>
  			<if test="pickModel != null">pick_model=#{pickModel},</if>
  			<if test="pickWeight != null">pick_weight=#{pickWeight},</if>
  			<if test="containerType != null">container_type=#{containerType},</if>
  			<if test="containerUnitCapacity != null">container_unit_capacity=#{containerUnitCapacity},</if>
	  	  	<if test="containerCapacityCm3 != null">container_capacity_cm3=#{containerCapacityCm3},</if>
  			<if test="containerNumPerTask != null">container_num_per_task=#{containerNumPerTask},</if>
			<if test="strategyWholePallet != null">strategy_whole_pallet=#{strategyWholePallet},</if>
			<if test="strategyWholePackage != null">strategy_whole_package=#{strategyWholePackage},</if>
  			<if test="fpmrSetGroupFalg != null">fpmr_set_group_falg=#{fpmrSetGroupFalg},</if>
  			<if test="fpmrBigItemThreshold != null">fpmr_big_item_threshold=#{fpmrBigItemThreshold},</if>
  			<if test="fpmrSetFlag != null">fpmr_set_flag=#{fpmrSetFlag},</if>
  			<if test="fpmrSmallItemThreshold != null">fpmr_small_item_threshold=#{fpmrSmallItemThreshold},</if>
  			<if test="fpmrSowMethod != null">fpmr_sow_method=#{fpmrSowMethod}</if>
		</set>
		where pick_model_id=#{pickModelId}
	</update>
  
	<select id="getPickModelById" parameterType="int" resultMap="pickModelResultMap">
		select * from pick_model
		where ID=#{id} 
	</select>
  
	<select id="countPickModel" parameterType="map" resultType="int">
		select count(*) from pick_model
		<include refid="queryCondition"/>
	</select>
  
	<select id="getPickModelList" parameterType="map" resultMap="pickModelResultMap">
		select * from pick_model
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="pickModelId != null">and pick_model_id=#{pickModelId}</if>
			<if test="isValid != null">and is_valid=#{isValid}</if>
			<if test="pickModelTemplate != null">and pick_model_template=#{pickModelTemplate}</if>
			<if test="pickZoneId != null">and pick_zone_id=#{pickZoneId}</if>
			<if test="pickType != null">and pick_type=#{pickType}</if>
			<if test="pickUnit != null">and pick_unit=#{pickUnit}</if>
			<if test="pickModel != null">and pick_model=#{pickModel}</if>
			<if test="pickWeight != null">and pick_weight=#{pickWeight}</if>
			<if test="containerType != null">and container_type=#{containerType}</if>
			<if test="containerUnitCapacity != null">and container_unit_capacity=#{containerUnitCapacity}</if>
			<if test="containerNumPerTask != null">and container_num_per_task=#{containerNumPerTask}</if>
			<if test="strategyWholePallet != null">and strategy_whole_pallet=#{strategyWholePallet}</if>
			<if test="fpmrSetGroupFalg != null">and fpmr_set_group_falg=#{fpmrSetGroupFalg}</if>
			<if test="fpmrBigItemThreshold != null">and fpmr_big_item_threshold=#{fpmrBigItemThreshold}</if>
			<if test="fpmrSetFlag != null">and fpmr_set_flag=#{fpmrSetFlag}</if>
			<if test="fpmrSmallItemThreshold != null">and fpmr_small_item_threshold=#{fpmrSmallItemThreshold}</if>
			<if test="fpmrSowMethod != null">and fpmr_sow_method=#{fpmrSowMethod}</if>
		</where>
	</sql>
   
</mapper>