<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.po.InbReceiptHeaderDao" >

	<resultMap id="inbReceiptHeaderResultMap" type="InbReceiptHeader">
		<id property="id" column="ID"/>
		<result property="warehouseId" column="WAREHOUSE_ID"/>
		<result property="bookingNum" column="BOOKING_NUM"/>
		<result property="receiptOrderId" column="RECEIPT_ORDER_ID"/>
		<result property="lotSeqId" column="LOT_SEQ_ID"/>
		<result property="receiptWharf" column="RECEIPT_WHARF"/>
		<result property="tempStoreArea" column="TEMP_STORE_AREA"/>
		<result property="containerId" column="CONTAINER_ID"/>
		<result property="location" column="LOCATION"/>
		<result property="realLocation" column="REAL_LOCATION"/>
		<result property="receiptUser" column="RECEIPT_USER"/>
		<result property="receiptTime" column="RECEIPT_TIME"/>
		<result property="receiptStatus" column="RECEIPT_STATUS"/>
		<result property="insertby" column="INSERTBY"/>
		<result property="updateby" column="UPDATEBY"/>
		<result property="inserttime" column="INSERTTIME"/>
		<result property="updatetime" column="UPDATETIME"/>
		<result property="staffId" column="STAFF_ID"/>
		<result property="storeCode" column="STORE_CODE"/>
		<result property="receiptType" column="RECEIPT_TYPE"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="InbReceiptHeader">
		insert into INB_RECEIPT_HEADER (
			WAREHOUSE_ID,BOOKING_NUM,RECEIPT_ORDER_ID,LOT_SEQ_ID,RECEIPT_WHARF,TEMP_STORE_AREA,
			CONTAINER_ID,LOCATION,REAL_LOCATION,RECEIPT_USER,RECEIPT_TIME,RECEIPT_STATUS,
			INSERTBY,UPDATEBY,INSERTTIME,UPDATETIME,STAFF_ID,STORE_CODE,RECEIPT_TYPE
    	) values (
			#{warehouseId},#{bookingNum},#{receiptOrderId},#{lotSeqId},#{receiptWharf},#{tempStoreArea},
			#{containerId},#{location},#{realLocation},#{receiptUser},#{receiptTime},#{receiptStatus},
			#{insertby},#{updateby},#{inserttime},#{updatetime},#{staffId},#{storeCode},#{receiptType}
    	)
	</insert>

	<update id="update" parameterType="InbReceiptHeader">
		update INB_RECEIPT_HEADER
    	<set>
  			<if test="warehouseId != null">WAREHOUSE_ID=#{warehouseId},</if>
  			<if test="bookingNum != null">BOOKING_NUM=#{bookingNum},</if>
  			<if test="receiptOrderId != null">RECEIPT_ORDER_ID=#{receiptOrderId},</if>
  			<if test="lotSeqId != null">LOT_SEQ_ID=#{lotSeqId},</if>
  			<if test="receiptWharf != null">RECEIPT_WHARF=#{receiptWharf},</if>
  			<if test="tempStoreArea != null">TEMP_STORE_AREA=#{tempStoreArea},</if>
  			<if test="containerId != null">CONTAINER_ID=#{containerId},</if>
  			<if test="location != null">LOCATION=#{location},</if>
  			<if test="realLocation != null">REAL_LOCATION=#{realLocation},</if>
  			<if test="receiptUser != null">RECEIPT_USER=#{receiptUser},</if>
  			<if test="receiptTime != null">RECEIPT_TIME=#{receiptTime},</if>
			<if test="storeCode != null">STORE_CODE=#{storeCode},</if>
			<if test="receiptType != null">RECEIPT_TYPE=#{receiptType},</if>
  			<if test="receiptStatus != null">RECEIPT_STATUS=#{receiptStatus},</if>
  			<if test="insertby != null">INSERTBY=#{insertby},</if>
  			<if test="updateby != null">UPDATEBY=#{updateby},</if>
			<if test="staffId != null">STAFF_ID=#{staffId},</if>
  			<if test="inserttime != null">INSERTTIME=#{inserttime},</if>
  			<if test="updatetime != null">UPDATETIME=#{updatetime}</if>
		</set>
		where ID=#{id}
	</update>

	<update id="updateByReceiptId" parameterType="InbReceiptHeader">
		update INB_RECEIPT_HEADER
		<set>
			<if test="warehouseId != null">WAREHOUSE_ID=#{warehouseId},</if>
			<if test="bookingNum != null">BOOKING_NUM=#{bookingNum},</if>
			<if test="lotSeqId != null">LOT_SEQ_ID=#{lotSeqId},</if>
			<if test="receiptWharf != null">RECEIPT_WHARF=#{receiptWharf},</if>
			<if test="tempStoreArea != null">TEMP_STORE_AREA=#{tempStoreArea},</if>
			<if test="containerId != null">CONTAINER_ID=#{containerId},</if>
			<if test="location != null">LOCATION=#{location},</if>
			<if test="realLocation != null">REAL_LOCATION=#{realLocation},</if>
			<if test="receiptUser != null">RECEIPT_USER=#{receiptUser},</if>
			<if test="receiptTime != null">RECEIPT_TIME=#{receiptTime},</if>
			<if test="storeCode != null">STORE_CODE=#{storeCode},</if>
			<if test="receiptType != null">RECEIPT_TYPE=#{receiptType},</if>
			<if test="receiptStatus != null">RECEIPT_STATUS=#{receiptStatus},</if>
			<if test="insertby != null">INSERTBY=#{insertby},</if>
			<if test="updateby != null">UPDATEBY=#{updateby},</if>
			<if test="staffId != null">STAFF_ID=#{staffId},</if>
			<if test="inserttime != null">INSERTTIME=#{inserttime},</if>
			<if test="updatetime != null">UPDATETIME=#{updatetime}</if>
		</set>
		where RECEIPT_ORDER_ID=#{receiptOrderId}
	</update>
  
	<select id="getInbReceiptHeaderById" parameterType="int" resultMap="inbReceiptHeaderResultMap">
		select * from INB_RECEIPT_HEADER
		where ID=#{id} 
	</select>
  
	<select id="countInbReceiptHeader" parameterType="map" resultType="int">
		select count(*) from INB_RECEIPT_HEADER
		<include refid="queryCondition"/>
	</select>
  
	<select id="getInbReceiptHeaderList" parameterType="map" resultMap="inbReceiptHeaderResultMap">
		select * from INB_RECEIPT_HEADER
		<include refid="queryCondition"/>
		<if test="orderBy == null or orderType == null">
			ORDER BY  inserttime DESC
		</if>
		<if test=' "receiptTime".equals(orderBy)  and  "desc".equals(orderType)'>
			ORDER BY  RECEIPT_TIME DESC
		</if>
		<if test=' "receiptTime".equals(orderBy)  and  "asc".equals(orderType)'>
			ORDER BY  RECEIPT_TIME ASC
		</if>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">ID=#{id}</if>
			<if test="warehouseId != null">and WAREHOUSE_ID=#{warehouseId}</if>
			<if test="bookingNum != null">and BOOKING_NUM=#{bookingNum}</if>
			<if test="receiptOrderId != null">and RECEIPT_ORDER_ID=#{receiptOrderId}</if>
			<if test="lotSeqId != null">and LOT_SEQ_ID=#{lotSeqId}</if>
			<if test="receiptWharf != null">and RECEIPT_WHARF=#{receiptWharf}</if>
			<if test="tempStoreArea != null">and TEMP_STORE_AREA=#{tempStoreArea}</if>
			<if test="containerId != null">and CONTAINER_ID=#{containerId}</if>
			<if test="location != null">and LOCATION=#{location}</if>
			<if test="realLocation != null">and REAL_LOCATION=#{realLocation}</if>
			<if test="receiptUser != null">and RECEIPT_USER=#{receiptUser}</if>
			<if test="receiptTime != null">and RECEIPT_TIME=#{receiptTime}</if>
			<if test="receiptTimeAfter != null">and RECEIPT_TIME&gt;=#{receiptTimeAfter}</if>
			<if test="receiptTimeBefore != null">and RECEIPT_TIME&lt;=#{receiptTimeBefore}</if>
			<if test="storeCode != null">and STORE_CODE=#{storeCode}</if>
			<if test="receiptType != null">and RECEIPT_TYPE=#{receiptType}</if>
			<if test="receiptStatus != null">and RECEIPT_STATUS=#{receiptStatus}</if>
			<if test="insertby != null">and INSERTBY=#{insertby}</if>
			<if test="updateby != null">and UPDATEBY=#{updateby}</if>
			<if test="inserttime != null">and INSERTTIME=#{inserttime}</if>
			<if test="updatetime != null">and UPDATETIME=#{updatetime}</if>
			<if test="staffId != null">and STAFF_ID=#{staffId}</if>
			<if test="receiptList != null">
				and RECEIPT_ORDER_ID in
				<foreach collection="receiptList"  item="item" index="index" open="(" separator=","  close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</sql>
   
</mapper>