<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.csi.CsiCustomerDao" >

	<resultMap id="csiCustomerResultMap" type="CsiCustomer">
		<id property="id" column="id"/>
		<result property="ownerId" column="owner_id"/>
		<result property="customerId" column="customer_id"/>
		<result property="customerType" column="customer_type"/>
		<result property="customerName" column="customer_name"/>
		<result property="customerCode" column="customer_code"/>
		<result property="contry" column="contry"/>
		<result property="province" column="province"/>
		<result property="city" column="city"/>
		<result property="address" column="address"/>
		<result property="status" column="status"/>
		<result property="isValid" column="is_valid"/>
		<result property="transPlan" column="trans_plan"/>
		<result property="priority" column="priority"/>
		<result property="seedQueue" column="seed_queue"/>
		<result property="collectRoadId" column="collect_road_id"/>
		<result property="seedRoadId" column="seed_road_id"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="CsiCustomer">
		insert into csi_customer (
			owner_id,customer_id,customer_type,customer_name,customer_code,contry,
			province,city,address,status,is_valid,trans_plan,
			priority,seed_queue,collect_road_id,created_at,updated_at,seed_road_id
    	) values (
			#{ownerId},#{customerId},#{customerType},#{customerName},#{customerCode},#{contry},
			#{province},#{city},#{address},#{status},#{isValid},#{transPlan},
			#{priority},#{seedQueue},#{collectRoadId},#{createdAt},#{updatedAt},#{seedRoadId}
    	)
	</insert>

	<update id="update" parameterType="CsiCustomer">
		update csi_customer
    	<set>
  			<if test="ownerId != null">owner_id=#{ownerId},</if>
  			<if test="customerId != null">customer_id=#{customerId},</if>
  			<if test="customerType != null">customer_type=#{customerType},</if>
  			<if test="customerName != null">customer_name=#{customerName},</if>
  			<if test="customerCode != null">customer_code=#{customerCode},</if>
  			<if test="contry != null">contry=#{contry},</if>
  			<if test="province != null">province=#{province},</if>
  			<if test="city != null">city=#{city},</if>
  			<if test="address != null">address=#{address},</if>
  			<if test="status != null">status=#{status},</if>
  			<if test="isValid != null">is_valid=#{isValid},</if>
  			<if test="transPlan != null">trans_plan=#{transPlan},</if>
  			<if test="priority != null">priority=#{priority},</if>
  			<if test="seedQueue != null">seed_queue=#{seedQueue},</if>
  			<if test="collectRoadId != null">collect_road_id=#{collectRoadId},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
			<if test="seedRoadId != null">seed_road_id=#{seedRoadId}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getCsiCustomerById" parameterType="int" resultMap="csiCustomerResultMap">
		select * from csi_customer
		where ID=#{id} 
	</select>
  
	<select id="countCsiCustomer" parameterType="map" resultType="int">
		select count(*) from csi_customer
		<include refid="queryCondition"/>
	</select>
  
	<select id="getCsiCustomerList" parameterType="map" resultMap="csiCustomerResultMap">
		select * from csi_customer
		<include refid="queryCondition"/>
		<if test=" 'seedQueue'.equals(orderBy)  and  'desc'.equals(orderType)">
			ORDER BY  seed_queue DESC
		</if>
		<if test=" 'seedQueue'.equals(orderBy)  and  'asc'.equals(orderType)">
			ORDER BY  seed_queue ASC
		</if>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="ownerId != null">and owner_id=#{ownerId}</if>
			<if test="customerId != null">and customer_id=#{customerId}</if>
			<if test="customerType != null">and customer_type=#{customerType}</if>
			<if test="customerName != null">and customer_name=#{customerName}</if>
			<if test="customerCode != null">and customer_code=#{customerCode}</if>
			<if test="contry != null">and contry=#{contry}</if>
			<if test="province != null">and province=#{province}</if>
			<if test="city != null">and city=#{city}</if>
			<if test="address != null">and address=#{address}</if>
			<if test="status != null">and status=#{status}</if>
			<if test="isValid != null">and is_valid=#{isValid}</if>
			<if test="transPlan != null">and trans_plan=#{transPlan}</if>
			<if test="priority != null">and priority=#{priority}</if>
			<if test="seedQueue != null">and seed_queue=#{seedQueue}</if>
			<if test="collectRoadId != null">and collect_road_id=#{collectRoadId}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="seedRoadId != null">and seed_road_id=#{seedRoadId}</if>
		</where>
	</sql>
   
</mapper>