<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.csi.CsiOwnerDao" >

	<resultMap id="csiOwnerResultMap" type="CsiOwner">
		<id property="id" column="id"/>
		<result property="ownerId" column="owner_id"/>
		<result property="ownerName" column="owner_name"/>
		<result property="ownerDesc" column="owner_desc"/>
		<result property="country" column="country"/>
		<result property="province" column="province"/>
		<result property="city" column="city"/>
		<result property="address" column="address"/>
		<result property="soCheckStrategy" column="so_check_strategy"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="CsiOwner">
		insert into csi_owner (
			owner_id,owner_name,owner_desc,country,province,city,
			address,created_at,updated_at,so_check_strategy
    	) values (
			#{ownerId},#{ownerName},#{ownerDesc},#{country},#{province},#{city},
			#{address},#{createdAt},#{updatedAt},#{soCheckStrategy}
    	)
	</insert>
	<!--修改where条件为ownerId-->
	<update id="update" parameterType="CsiOwner">
		update csi_owner
    	<set>
  			<if test="ownerName != null">owner_name=#{ownerName},</if>
  			<if test="ownerDesc != null">owner_desc=#{ownerDesc},</if>
  			<if test="country != null">country=#{country},</if>
  			<if test="province != null">province=#{province},</if>
  			<if test="city != null">city=#{city},</if>
  			<if test="address != null">address=#{address},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
			<if test="soCheckStrategy != null">so_check_strategy=#{soCheckStrategy},</if>
		</set>
		where owner_id=#{ownerId}
	</update>

	<select id="getCsiOwnerById" parameterType="int" resultMap="csiOwnerResultMap">
		select * from csi_owner
		where ID=#{id} 
	</select>
  
	<select id="countCsiOwner" parameterType="map" resultType="int">
		select count(*) from csi_owner
		<include refid="queryCondition"/>
	</select>
  
	<select id="getCsiOwnerList" parameterType="map" resultMap="csiOwnerResultMap">
		select * from csi_owner
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="ownerId != null">and owner_id=#{ownerId}</if>
			<if test="ownerName != null">and owner_name=#{ownerName}</if>
			<if test="ownerDesc != null">and owner_desc=#{ownerDesc}</if>
			<if test="country != null">and country=#{country}</if>
			<if test="province != null">and province=#{province}</if>
			<if test="city != null">and city=#{city}</if>
			<if test="address != null">and address=#{address}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="soCheckStrategy != null">and so_check_strategy =#{soCheckStrategy}</if>
		</where>
	</sql>
   
</mapper>