<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.wave.WaveDetailDao" >

	<resultMap id="waveDetailResultMap" type="WaveDetail">
		<id property="id" column="id"/>
		<result property="refDetailId" column="ref_detail_id"/>
		<result property="isAlive" column="is_alive"/>
		<result property="isValid" column="is_valid"/>
		<result property="waveId" column="wave_id"/>
		<result property="orderId" column="order_id"/>
		<result property="itemId" column="item_id"/>
		<result property="skuId" column="sku_id"/>
		<result property="ownerId" column="owner_id"/>
		<result property="locId" column="loc_id"/>
		<result property="supplierId" column="supplier_id"/>
		<result property="status" column="status"/>
		<result property="reqQty" column="req_qty"/>
		<result property="allocQty" column="alloc_qty"/>
		<result property="allocUnitName" column="alloc_unit_name"/>
		<result property="allocUnitQty" column="alloc_unit_qty"/>
		<result property="pickQty" column="pick_qty"/>
		<result property="qcQty" column="qc_qty"/>
		<result property="deliveryQty" column="delivery_qty"/>
		<result property="pickTaskId" column="pick_task_id"/>
		<result property="pickZoneId" column="pick_zone_id"/>
		<result property="pickAreaLocation" column="pick_area_location"/>
		<result property="pickOrder" column="pick_order"/>
		<result property="pickTaskOrder" column="pick_task_order"/>
		<result property="allocPickLocation" column="alloc_pick_location"/>
		<result property="realPickLocation" column="real_pick_location"/>
		<result property="allocCollectLocation" column="alloc_collect_location"/>
		<result property="realCollectLocation" column="real_collect_location"/>
		<result property="containerId" column="container_id"/>
		<result property="mergedContainerId" column="merged_container_id"/>
		<result property="pickUid" column="pick_uid"/>
		<result property="pickAt" column="pick_at"/>
		<result property="sowTaskId" column="sow_task_id"/>
		<result property="sowUid" column="sow_uid"/>
		<result property="sowAt" column="sow_at"/>
		<result property="qcTaskId" column="qc_task_id"/>
		<result property="qcUid" column="qc_uid"/>
		<result property="qcAt" column="qc_at"/>
		<result property="mergeTaskId" column="merge_task_id"/>
		<result property="mergeUid" column="merge_uid"/>
		<result property="mergeAt" column="merge_at"/>
		<result property="qcException" column="qc_exception"/>
		<result property="qcExceptionQty" column="qc_exception_qty"/>
		<result property="qcExceptionDone" column="qc_exception_done"/>
		<result property="shipTaskId" column="ship_task_id"/>
		<result property="shipUid" column="ship_uid"/>
		<result property="shipAt" column="ship_at"/>
		<result property="deliveryId" column="delivery_id"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="qcTimes" column="qc_times"/>
		<result property="qcFault" column="qc_fault"/>
		<result property="qcFaultQty" column="qc_fault_qty"/>
		<result property="tuDetailId" column="tu_detail_id"/>
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="WaveDetail">
		insert into wave_detail (
			ref_detail_id,is_alive,is_valid,wave_id,order_id,item_id,
			sku_id,owner_id,loc_id,supplier_id,status,req_qty,
			alloc_qty,alloc_unit_name,alloc_unit_qty,pick_qty,qc_qty,delivery_qty,
			pick_task_id,pick_zone_id,pick_area_location,pick_order,pick_task_order,alloc_pick_location,
			real_pick_location,alloc_collect_location,real_collect_location,container_id,merged_container_id,pick_uid,
			pick_at,sow_task_id,sow_uid,sow_at,qc_task_id,qc_uid,
			qc_at,merge_task_id,merge_uid,merge_at,qc_exception,qc_exception_qty,
			qc_exception_done,ship_task_id,ship_uid,ship_at,delivery_id,created_at,
			updated_at,qc_times,qc_fault,qc_fault_qty,tu_detail_id
    	) values (
			#{refDetailId},#{isAlive},#{isValid},#{waveId},#{orderId},#{itemId},
			#{skuId},#{ownerId},#{locId},#{supplierId},#{status},#{reqQty},
			#{allocQty},#{allocUnitName},#{allocUnitQty},#{pickQty},#{qcQty},#{deliveryQty},
			#{pickTaskId},#{pickZoneId},#{pickAreaLocation},#{pickOrder},#{pickTaskOrder},#{allocPickLocation},
			#{realPickLocation},#{allocCollectLocation},#{realCollectLocation},#{containerId},#{mergedContainerId},#{pickUid},
			#{pickAt},#{sowTaskId},#{sowUid},#{sowAt},#{qcTaskId},#{qcUid},
			#{qcAt},#{mergeTaskId},#{mergeUid},#{mergeAt},#{qcException},#{qcExceptionQty},
			#{qcExceptionDone},#{shipTaskId},#{shipUid},#{shipAt},#{deliveryId},#{createdAt},
			#{updatedAt},#{qcTimes},#{qcFault},#{qcFaultQty},#{tuDetailId}
    	)
	</insert>

	<update id="update" parameterType="WaveDetail">
		update wave_detail
    	<set>
			<if test="refDetailId != null">ref_detail_id=#{refDetailId},</if>
  			<if test="isAlive != null">is_alive=#{isAlive},</if>
  			<if test="isValid != null">is_valid=#{isValid},</if>
  			<if test="waveId != null">wave_id=#{waveId},</if>
  			<if test="orderId != null">order_id=#{orderId},</if>
  			<if test="itemId != null">item_id=#{itemId},</if>
  			<if test="skuId != null">sku_id=#{skuId},</if>
  			<if test="ownerId != null">owner_id=#{ownerId},</if>
  			<if test="locId != null">loc_id=#{locId},</if>
  			<if test="supplierId != null">supplier_id=#{supplierId},</if>
  			<if test="status != null">status=#{status},</if>
  			<if test="reqQty != null">req_qty=#{reqQty},</if>
  			<if test="allocQty != null">alloc_qty=#{allocQty},</if>
			<if test="allocUnitName != null">alloc_unit_name=#{allocUnitName},</if>
			<if test="allocUnitQty != null">alloc_unit_qty=#{allocUnitQty},</if>
  			<if test="pickQty != null">pick_qty=#{pickQty},</if>
  			<if test="qcQty != null">qc_qty=#{qcQty},</if>
  			<if test="deliveryQty != null">delivery_qty=#{deliveryQty},</if>
  			<if test="pickTaskId != null">pick_task_id=#{pickTaskId},</if>
  			<if test="pickZoneId != null">pick_zone_id=#{pickZoneId},</if>
			<if test="pickAreaLocation != null">pick_area_location=#{pickAreaLocation},</if>
  			<if test="pickOrder != null">pick_order=#{pickOrder},</if>
			<if test="pickTaskOrder != null">pick_task_order=#{pickTaskOrder},</if>
  			<if test="allocPickLocation != null">alloc_pick_location=#{allocPickLocation},</if>
  			<if test="realPickLocation != null">real_pick_location=#{realPickLocation},</if>
  			<if test="allocCollectLocation != null">alloc_collect_location=#{allocCollectLocation},</if>
  			<if test="realCollectLocation != null">real_collect_location=#{realCollectLocation},</if>
  			<if test="containerId != null">container_id=#{containerId},</if>
			<if test="mergedContainerId != null">merged_container_id=#{mergedContainerId},</if>
  			<if test="pickUid != null">pick_uid=#{pickUid},</if>
  			<if test="pickAt != null">pick_at=#{pickAt},</if>
  			<if test="sowTaskId != null">sow_task_id=#{sowTaskId},</if>
  			<if test="sowUid != null">sow_uid=#{sowUid},</if>
  			<if test="sowAt != null">sow_at=#{sowAt},</if>
  			<if test="qcTaskId != null">qc_task_id=#{qcTaskId},</if>
  			<if test="qcUid != null">qc_uid=#{qcUid},</if>
  			<if test="qcAt != null">qc_at=#{qcAt},</if>
			<if test="mergeTaskId != null">merge_task_id=#{mergeTaskId},</if>
			<if test="mergeUid != null">merge_uid=#{mergeUid},</if>
			<if test="mergeAt != null">merge_at=#{mergeAt},</if>
  			<if test="qcException != null">qc_exception=#{qcException},</if>
  			<if test="qcExceptionQty != null">qc_exception_qty=#{qcExceptionQty},</if>
  			<if test="qcExceptionDone != null">qc_exception_done=#{qcExceptionDone},</if>
  			<if test="shipTaskId != null">ship_task_id=#{shipTaskId},</if>
  			<if test="shipUid != null">ship_uid=#{shipUid},</if>
  			<if test="shipAt != null">ship_at=#{shipAt},</if>
			<if test="deliveryId != null">delivery_id=#{deliveryId},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
			<if test="qcTimes != null">qc_times=#{qcTimes},</if>
			<if test="qcFault != null">qc_fault=#{qcFault},</if>
			<if test="qcFaultQty != null">qc_fault_qty=#{qcFaultQty},</if>
			<if test="tuDetailId != null">tu_detail_id=#{tuDetailId}</if>
		</set>
		where id=#{id}
	</update>

	<update id="shipWave" parameterType="long">
		update wave_detail set is_alive=0 where wave_id=#{waveId}
	</update>
  
	<select id="getWaveDetailById" parameterType="long" resultMap="waveDetailResultMap">
		select * from wave_detail
		where id=#{id}
	</select>

	<select id="getUnPickedQty" parameterType="map" resultType="java.math.BigDecimal">
		select sum(alloc_qty-pick_qty) from wave_detail
		<include refid="queryCondition"/>
	</select>
  
	<select id="countWaveDetail" parameterType="map" resultType="int">
		select count(*) from wave_detail
		<include refid="queryCondition"/>
	</select>
  
	<select id="getWaveDetailList" parameterType="map" resultMap="waveDetailResultMap">
		select * from wave_detail
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>

	<select id="getOrderedWaveDetailList" parameterType="map" resultMap="waveDetailResultMap">
		select * from wave_detail
		<include refid="queryCondition"/>
		order by pick_order
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>

	<select id="getPickLocationsByPickTimeRegion" parameterType="map" resultType="long">
		select distinct(real_pick_location) from wave_detail
		<include refid="queryCondition"/>
	</select>

	<select id="getAllocatedLocationList" parameterType="map" resultType="long">
		select distinct(alloc_pick_location) from wave_detail
		<include refid="queryCondition"/>
	</select>

  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="refDetailId != null">and ref_detail_id=#{refDetailId}</if>
			<if test="isAlive != null">and is_alive=#{isAlive}</if>
			<if test="isValid != null">and is_valid=#{isValid}</if>
			<if test="waveId != null">and wave_id=#{waveId}</if>
			<if test="orderId != null">and order_id=#{orderId}</if>
			<if test="itemId != null">and item_id=#{itemId}</if>
			<if test="skuId != null">and sku_id=#{skuId}</if>
			<if test="ownerId != null">and owner_id=#{ownerId}</if>
			<if test="locId != null">and loc_id=#{locId}</if>
			<if test="supplierId != null">and supplier_id=#{supplierId}</if>
			<if test="status != null">and status=#{status}</if>
			<if test="reqQty != null">and req_qty=#{reqQty}</if>
			<if test="allocQty != null">and alloc_qty=#{allocQty}</if>
			<if test="pickQty != null">and pick_qty=#{pickQty}</if>
			<if test="qcQty != null">and qc_qty=#{qcQty}</if>
			<if test="deliveryQty != null">and delivery_qty=#{deliveryQty}</if>
			<if test="pickTaskId != null">and pick_task_id=#{pickTaskId}</if>
			<if test="pickZoneId != null">and pick_zone_id=#{pickZoneId}</if>
			<if test="pickAreaLocation != null">and pick_area_location=#{pickAreaLocation}</if>
			<if test="pickOrder != null">and pick_order=#{pickOrder}</if>
			<if test="pickTaskOrder != null">and pick_task_order=#{pickTaskOrder}</if>
			<if test="allocPickLocation != null">and alloc_pick_location=#{allocPickLocation}</if>
			<if test="realPickLocation != null">and real_pick_location=#{realPickLocation}</if>
			<if test="allocCollectLocation != null">and alloc_collect_location=#{allocCollectLocation}</if>
			<if test="realCollectLocation != null">and real_collect_location=#{realCollectLocation}</if>
			<if test="containerId != null">and container_id=#{containerId}</if>
			<if test="mergedContainerId != null">and merged_container_id=#{mergedContainerId}</if>
			<if test="pickUid != null">and pick_uid=#{pickUid}</if>
			<if test="pickAt != null">and pick_at=#{pickAt}</if>
			<if test="sowTaskId != null">and sow_task_id=#{sowTaskId}</if>
			<if test="sowUid != null">and sow_uid=#{sowUid}</if>
			<if test="sowAt != null">and sow_at=#{sowAt}</if>
			<if test="qcTaskId != null">and qc_task_id=#{qcTaskId}</if>
			<if test="qcUid != null">and qc_uid=#{qcUid}</if>
			<if test="qcAt != null">and qc_at=#{qcAt}</if>
			<if test="mergeTaskId != null">and merge_task_id=#{mergeTaskId}</if>
			<if test="mergeUid != null">and merge_uid=#{mergeUid}</if>
			<if test="mergeAt != null">and merge_at=#{mergeAt}</if>
			<if test="qcException != null">and qc_exception=#{qcException}</if>
			<if test="qcExceptionQty != null">and qc_exception_qty=#{qcExceptionQty}</if>
			<if test="qcExceptionDone != null">and qc_exception_done=#{qcExceptionDone}</if>
			<if test="shipTaskId != null">and ship_task_id=#{shipTaskId}</if>
			<if test="shipUid != null">and ship_uid=#{shipUid}</if>
			<if test="shipAt != null">and ship_at=#{shipAt}</if>
			<if test="deliveryId != null">and delivery_id=#{deliveryId}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="qcTimes != null">and qc_times=#{qcTimes}</if>
			<if test="qcFault != null">and qc_fault=#{qcFault}</if>
			<if test="qcFaultQty != null">and qc_fault_qty=#{qcFaultQty}</if>
			<if test="tuDetailId != null">and tu_detail_id=#{tuDetailId}</if>
			<if test="pickTaskIds != null">
				and pick_task_id in
				<foreach collection="pickTaskIds" item="pickTaskId" index="index" open="(" separator=","  close=")">
					#{pickTaskId}
				</foreach>
			</if>
			<if test="qcTaskIds != null">
				and qc_task_id in
				<foreach collection="qcTaskIds" item="qcTaskId" index="index" open="(" separator=","  close=")">
					#{qcTaskId}
				</foreach>
			</if>
			<if test="pickLocationObj != null">
				and ( ${pickLocationObj.getLocationId()} &lt;= alloc_pick_location and alloc_pick_location &lt;= ${pickLocationObj.getRightRange()})
			</if>
			<if test="collectLocationObj != null">
				and ( ( ${collectLocationObj.getLocationId()} &lt;= alloc_collect_location and alloc_collect_location &lt;= ${collectLocationObj.getRightRange()} )
					or ( ${collectLocationObj.getLocationId()} &lt;= real_collect_location and real_collect_location &lt;= ${collectLocationObj.getRightRange()} ) )
			</if>
			<if test="pickBeginAt != null">and pick_at >= #{pickBeginAt}</if>
			<if test="pickEndAt != null">and #{pickEndAt} >= pick_at </if>
		</where>
	</sql>
   
</mapper>