<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.back.BackTaskDetailDao" >

	<resultMap id="backTaskDetailResultMap" type="BackTaskDetail">
		<id property="id" column="id"/>
		<result property="taskId" column="task_id"/>
		<result property="skuId" column="sku_id"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="realQty" column="real_qty"/>
		<result property="packUnit" column="pack_unit"/>
		<result property="packName" column="pack_name"/>
		<result property="skuName" column="sku_name"/>
		<result property="barcode" column="barcode"/>
		<result property="qty" column="qty"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="BackTaskDetail">
		insert into back_task_detail (
			task_id,sku_id,created_at,updated_at,real_qty,pack_unit,sku_name,barcode,qty,pack_name
    	) values (
			#{taskId},#{skuId},#{createdAt},#{updatedAt},#{realQty},#{packUnit},#{skuName},#{barcode},#{qty},#{packName}
    	)
	</insert>

	<update id="update" parameterType="BackTaskDetail">
		update back_task_detail
    	<set>
  			<if test="taskId != null">task_id=#{taskId},</if>
  			<if test="skuId != null">sku_id=#{skuId},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
  			<if test="realQty != null">real_qty=#{realQty},</if>
			<if test="packUnit !=null" >pack_unit=#{packUnit},</if>
			<if test="skuName !=null">sku_name=#{skuName},</if>
			<if test="barcode !=null">barcode=#{barcode},</if>
			<if test="qty !=null">qty=#{qty},</if>
			<if test="packName !=null">pack_name=#{packName}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getBackTaskDetailById" parameterType="int" resultMap="backTaskDetailResultMap">
		select * from back_task_detail
		where ID=#{id} 
	</select>
  
	<select id="countBackTaskDetail" parameterType="map" resultType="int">
		select count(*) from back_task_detail
		<include refid="queryCondition"/>
	</select>
  
	<select id="getBackTaskDetailList" parameterType="map" resultMap="backTaskDetailResultMap">
		select * from back_task_detail
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="taskId != null">and task_id=#{taskId}</if>
			<if test="skuId != null">and sku_id=#{skuId}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="realQty != null">and real_qty=#{realQty}</if>
			<if test="packUnit != null">and pack_unit=#{packUnit}</if>
			<if test="skuName !=null"> and sku_name=#{skuName}</if>
			<if test="barcode !=null"> and barcode=#{barcode}</if>
			<if test="packName !=null"> and pack_name=#{packName}</if>
			<if test="qty !=null"> and qty=#{qty}</if>
		</where>
	</sql>
   
</mapper>