<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.tu.TuDetailDao" >

	<resultMap id="tuDetailResultMap" type="TuDetail">
		<id property="id" column="id"/>
		<result property="tuId" column="tu_id"/>
		<result property="mergedContainerId" column="merged_container_id"/>
		<result property="boxNum" column="box_num"/>
		<result property="containerNum" column="container_num"/>
		<result property="turnoverBoxNum" column="turnover_box_num"/>
		<result property="isRest" column="is_rest"/>
		<result property="isExpensive" column="is_expensive"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="loadAt" column="load_at"/>
		<result property="storeId" column="store_id"/>
		<result property="isValid" column="is_valid"/>
		<result property="boardNum" column="board_num"/>
		<result property="tuDetailId" column="tu_detail_id"/>
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="TuDetail">
		insert into tu_detail (
			tu_id,merged_container_id,box_num,container_num,turnover_box_num,is_rest,
			is_expensive,created_at,updated_at,load_at,store_id,is_valid,
			board_num,tu_detail_id
    	) values (
			#{tuId},#{mergedContainerId},#{boxNum},#{containerNum},#{turnoverBoxNum},#{isRest},
			#{isExpensive},#{createdAt},#{updatedAt},#{loadAt},#{storeId},#{isValid},
			#{boardNum},#{tuDetailId}
    	)
	</insert>

	<update id="update" parameterType="TuDetail">
		update tu_detail
    	<set>
  			<if test="tuId != null">tu_id=#{tuId},</if>
  			<if test="mergedContainerId != null">merged_container_id=#{mergedContainerId},</if>
  			<if test="boxNum != null">box_num=#{boxNum},</if>
  			<if test="containerNum != null">container_num=#{containerNum},</if>
  			<if test="turnoverBoxNum != null">turnover_box_num=#{turnoverBoxNum},</if>
  			<if test="isRest != null">is_rest=#{isRest},</if>
			<if test="isExpensive != null">is_expensive=#{isExpensive},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
  			<if test="loadAt != null">load_at=#{loadAt},</if>
  			<if test="storeId != null">store_id=#{storeId},</if>
			<if test="isValid != null">is_valid=#{isValid},</if>
			<if test="boardNum != null">board_num=#{boardNum},</if>
			<if test="tuDetailId != null">tu_detail_id=#{tuDetailId}</if>
		</set>
		where merged_container_id=#{mergedContainerId}
	</update>
  
	<select id="getTuDetailById" parameterType="int" resultMap="tuDetailResultMap">
		select * from tu_detail
		where ID=#{id} 
	</select>
  
	<select id="countTuDetail" parameterType="map" resultType="int">
		select count(*) from tu_detail
		<include refid="queryCondition"/>
	</select>
  
	<select id="getTuDetailList" parameterType="map" resultMap="tuDetailResultMap">
		select * from tu_detail
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="tuId != null">and tu_id=#{tuId}</if>
			<if test="mergedContainerId != null">and merged_container_id=#{mergedContainerId}</if>
			<if test="boxNum != null">and box_num=#{boxNum}</if>
			<if test="containerNum != null">and container_num=#{containerNum}</if>
			<if test="turnoverBoxNum != null">and turnover_box_num=#{turnoverBoxNum}</if>
			<if test="isRest != null">and is_rest=#{isRest}</if>
			<if test="isExpensive != null">and is_expensive=#{isExpensive}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="loadAt != null">and load_at=#{loadAt}</if>
			<if test="storeId != null">and store_id=#{storeId}</if>
			<if test="isValid != null">and is_valid=#{isValid}</if>
			<if test="boardNum != null">and board_num=#{boardNum}</if>
			<if test="tuDetailId != null">and tu_detail_id=#{tuDetailId}</if>
		</where>
	</sql>
   
</mapper>