<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.tu.TuHeadDao">

    <resultMap id="tuHeadResultMap" type="TuHead">
        <id property="id" column="id"/>
        <result property="tuId" column="tu_id"/>
        <result property="transUid" column="trans_uid"/>
        <result property="cellphone" column="cellphone"/>
        <result property="name" column="name"/>
        <result property="carNumber" column="car_number"/>
        <result property="status" column="status"/>
        <result property="storeIds" column="store_ids"/>
        <result property="preBoard" column="pre_board"/>
        <result property="realBoard" column="real_board"/>
        <result property="commitedAt" column="commited_at"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="loadedAt" column="loaded_at"/>
        <result property="deliveryUid" column="delivery_uid"/>
        <result property="deliveryAt" column="delivery_at"/>
        <result property="isValid" column="is_valid"/>
        <result property="loadUid" column="load_uid"/>
        <result property="scale" column="scale"/>
        <result property="rfSwitch" column="rf_switch"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="companyName" column="company_name"/>
        <result property="type" column="type"/>
        <result property="transPlan" column="trans_plan"/>
        <result property="collectionCodes" column="collection_codes"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="TuHead">
		insert into tu_head (
			tu_id,trans_uid,cellphone,name,car_number,status,
			store_ids,pre_board,real_board,commited_at,created_at,updated_at,
			loaded_at,delivery_uid,delivery_at,is_valid,load_uid,scale,
			rf_switch,warehouse_id,company_name,type,trans_plan,collection_codes
    	) values (
			#{tuId},#{transUid},#{cellphone},#{name},#{carNumber},#{status},
			#{storeIds},#{preBoard},#{realBoard},#{commitedAt},#{createdAt},#{updatedAt},
			#{loadedAt},#{deliveryUid},#{deliveryAt},#{isValid},#{loadUid},#{scale},
			#{rfSwitch},#{warehouseId},#{companyName},#{type},#{transPlan},#{collectionCodes}
    	)
	</insert>

    <update id="update" parameterType="TuHead">
        update tu_head
        <set>
            <if test="tuId != null">tu_id=#{tuId},</if>
            <if test="transUid != null">trans_uid=#{transUid},</if>
            <if test="cellphone != null">cellphone=#{cellphone},</if>
            <if test="name != null">name=#{name},</if>
            <if test="carNumber != null">car_number=#{carNumber},</if>
            <if test="status != null">status=#{status},</if>
            <if test="storeIds != null">store_ids=#{storeIds},</if>
            <if test="preBoard != null">pre_board=#{preBoard},</if>
            <if test="realBoard != null">real_board=#{realBoard},</if>
            <if test="commitedAt != null">commited_at=#{commitedAt},</if>
            <if test="createdAt != null">created_at=#{createdAt},</if>
            <if test="updatedAt != null">updated_at=#{updatedAt},</if>
            <if test="loadedAt != null">loaded_at=#{loadedAt},</if>
            <if test="deliveryUid != null">delivery_uid=#{deliveryUid},</if>
            <if test="deliveryAt != null">delivery_at=#{deliveryAt},</if>
            <if test="isValid != null">is_valid=#{isValid},</if>
            <if test="loadUid != null">load_uid=#{loadUid},</if>
            <if test="scale != null">scale=#{scale},</if>
            <if test="rfSwitch != null">rf_switch=#{rfSwitch},</if>
            <if test="warehouseId != null">warehouse_id=#{warehouseId},</if>
            <if test="companyName != null">company_name=#{companyName},</if>
            <if test="type != null">type=#{type},</if>
            <if test="transPlan != null">trans_plan=#{transPlan},</if>
            <if test="collectionCodes != null">collection_codes=#{collectionCodes}</if>
        </set>
        where tu_id=#{tuId}
    </update>

    <select id="getTuHeadById" parameterType="int" resultMap="tuHeadResultMap">
		select * from tu_head
		where tu_id=#{tuId}
	</select>

    <select id="countTuHead" parameterType="map" resultType="int">
        select count(*) from tu_head
        <include refid="queryCondition"/>
    </select>

    <select id="getTuHeadList" parameterType="map" resultMap="tuHeadResultMap">
        select * from tu_head
        <include refid="queryCondition"/>
        <if test='"createdAt".equals(orderBy)  and "asc".equals(orderType)'>
            ORDER BY  created_at ASC
        </if>
        <if test='"loadedAt".equals(orderBy)  and "asc".equals(orderType)'>
            ORDER BY  loaded_at ASC
        </if>
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <sql id="queryCondition">
        <where>
            <if test="id != null">id=#{id}</if>
            <if test="tuId != null">and tu_id=#{tuId}</if>
            <if test="transUid != null">and trans_uid=#{transUid}</if>
            <if test="cellphone != null">and cellphone=#{cellphone}</if>
            <if test="name != null">and name=#{name}</if>
            <if test="carNumber != null">and car_number=#{carNumber}</if>
            <if test="status != null">and status=#{status}</if>
            <if test="storeIds != null">and store_ids=#{storeIds}</if>
            <if test="preBoard != null">and pre_board=#{preBoard}</if>
            <if test="realBoard != null">and real_board=#{realBoard}</if>
            <if test="commitedAt != null">and commited_at=#{commitedAt}</if>
            <if test="createdAt != null">and created_at=#{createdAt}</if>
            <if test="updatedAt != null">and updated_at=#{updatedAt}</if>
            <if test="loadedAt != null">and loaded_at=#{loadedAt}</if>
            <if test="deliveryUid != null">and delivery_uid=#{deliveryUid}</if>
            <if test="deliveryAt != null">and delivery_at=#{deliveryAt}</if>
            <if test="isValid != null">and is_valid=#{isValid}</if>
            <if test="loadUid != null">and load_uid=#{loadUid}</if>
            <if test="scale != null">and scale=#{scale}</if>
            <if test="rfSwitch != null">and rf_switch=#{rfSwitch}</if>
            <if test="warehouseId != null">and warehouse_id=#{warehouseId}</if>
            <if test="companyName != null">and company_name=#{companyName}</if>
            <if test="type != null">and type=#{type}</if>
            <if test="transPlan != null">and trans_plan=#{transPlan}</if>
            <if test="collectionCodes != null">and collection_codes=#{collectionCodes}</if>
        </where>
    </sql>

    <select id="getTuHeadListOnPc" parameterType="map" resultMap="tuHeadResultMap">
        select * from tu_head
        <include refid="pcQueryCondition"/>
            ORDER BY  created_at DESC
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="countTuHeadOnPc" parameterType="map" resultType="int">
        select count(*) from tu_head
        <include refid="pcQueryCondition"/>
    </select>

    <sql id="pcQueryCondition">
        <where>
            <if test="id != null">id=#{id}</if>
            <if test="tuId != null">and tu_id=#{tuId}</if>
            <if test="transUid != null">and trans_uid=#{transUid}</if>
            <if test="cellphone != null">and cellphone=#{cellphone}</if>
            <if test="name != null">and name=#{name}</if>
            <if test="carNumber != null">and car_number=#{carNumber}</if>
            <if test="status != null">and status=#{status}</if>
            <if test="storeIds != null">and store_ids=#{storeIds}</if>
            <if test="preBoard != null">and pre_board=#{preBoard}</if>
            <if test="realBoard != null">and real_board=#{realBoard}</if>
            <if test="commitedAt != null">and commited_at=#{commitedAt}</if>
            <if test="startTime != null">and created_at&gt;=#{startTime}</if>
            <if test="endTime != null">and created_at&lt;=#{endTime}</if>
            <if test="updatedAt != null">and updated_at=#{updatedAt}</if>
            <if test="loadedAt != null">and loaded_at=#{loadedAt}</if>
            <if test="deliveryUid != null">and delivery_uid=#{deliveryUid}</if>
            <if test="deliveryAt != null">and delivery_at=#{deliveryAt}</if>
            <if test="deliveryAtAfter != null">and delivery_at&gt;=#{deliveryAtAfter}</if>
            <if test="deliveryAtBefore != null">and delivery_at&lt;=#{deliveryAtBefore}</if>
            <if test="isValid != null">and is_valid=#{isValid}</if>
            <if test="loadUid != null">and load_uid=#{loadUid}</if>
            <if test="scale != null">and scale=#{scale}</if>
            <if test="rfSwitch != null">and rf_switch=#{rfSwitch}</if>
            <if test="warehouseId != null">and warehouse_id=#{warehouseId}</if>
            <if test="companyName != null">and company_name=#{companyName}</if>
            <if test="type != null">and type=#{type}</if>
            <if test="transPlan != null">and trans_plan=#{transPlan}</if>
            <if test="collectionCodes != null">and collection_codes=#{collectionCodes}</if>
        </where>
    </sql>

</mapper>